.user-page,
.admin-page {
  display: none;
  margin-top: 100%;
  width: 100%;
}
.user-page {
  margin-top: 170%;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login > input {
  border: none;
  margin: 5px;
  border-radius: 10px;
  height: 50px;
  width: 150%;
  background-color: rgba(97, 219, 251, 0.3);
  outline: none;
  padding: 10px;
  color: white;
  font-size: 18px;
}

.login > input::placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
}

.login > input:focus {
    color:white;
    padding: 10px;
}

.login > input:focus::placeholder {
    color: transparent
}


.login-button {
  border: none;
  background-color: rgba(97, 219, 251, 0.3);
  border-radius: 20px;
  font-size: 15px;
  margin: 20px 0 10px 0;
  padding: 10px 20px;
  color: white;
}

.create-account,
.forgot-password,
.back-button {
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  margin-top: 15px;
  font-weight: 600;
}

.forgot-password {
  margin-top: 30px;
}

.show-login {
  display: flex;
}
