$dark-color: #282c34;
$light-color: #61dbfb;
$white: rgba(255, 255, 255, 0.8);
$gradient: linear-gradient(to top left, #0a5b6f, #2f8ea5, #5fbfd7, #75d5ec);

.admin-dashboard {
  background-color: $dark-color;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  color: white;
  align-items: center;
  display: flex;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

.nav-bar ul {
  list-style-type: none;
  display: flex;
}

.nav-bar ul li {
  margin-right: 50px;
}

.nav-bar ul li:hover {
  color: $light-color;
  cursor: pointer;
  transition: all 0.5s;
}

.search-bar {
  width: 100%;
  max-width: 80%;
  margin: 100px auto 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
}

.search {
  width: 600px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: $dark-color;
  color: white;
  padding-left: 10px;
  font-size: 16px;
}

.search::placeholder {
  color: white;
  font-size: 16px;
}

.search:focus::placeholder {
  color: transparent;
}

.table-box {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}

table {
  width: 800px;
  height: 100px;
  margin-top: 100px;
}

td,
tr,
th {
  background-color: white;
  width: 800px;
  height: 50px;
  text-align: center;
  font-weight: 500;
}

th {
  background-color: $dark-color;
  color: white;
}

td a {
  text-decoration: none;
  color: $dark-color;
}

.edit-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.edit-button {
  padding-right: 10px;
}

.edit-button:hover,
.delete-button:hover {
  color: #278da7;
  cursor: pointer;
}

.image {
  width: 500px;
  filter: saturate(0.5);
}

.manage-account {
  display: flex;
  justify-content: space-between;
  align-items: center
}

// transactions

.deposit-page,
.withdraw-page,
.transfer-page {
  display: none;
}

.transactions {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 40%;
  margin: 0 auto;
}

.trans {
  background-color: $dark-color;
  padding: 20px 25px;
  border-radius: 10px;
  font-size: 14px;
  color: white;
}

.trans:hover {
  background-color: white;
  color: $dark-color;
  cursor: pointer;
  transition: all 0.5s;
}

.trans .icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.show-deposit,
.show-withdraw,
.show-transfer {
  display: flex;
}

.deposit-page,
.withdraw-page,
.transfer-page {
  position: absolute;
  top: 25%;
  left: 6%;
  background-image: $gradient;
  box-shadow: 2px 2px 2px $dark-color;
  border-radius: 10px;
  height: 400px;
  width: 100%;
  max-width: 30%;
}

.deposit-container,
.withdraw-container,
.transfer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80%;
  height: 100%;
  max-height: 80%;
  margin: auto;
}

.deposit-input,
.withdraw-input,
.transfer-input {
  display: flex;
  flex-direction: column;
}

.deposit-input input,
.withdraw-input input,
.transfer-input input {
  background-color: white;
  outline: none;
  border: none;
  height: 50px;
  margin: 10px 0;
  color: $dark-color;
  padding-left: 10px;
  border-radius: 10px;
}

.deposit-input input::placeholder,
.withdraw-input input::placeholder,
.transfer-input input::placeholder {
  color: $dark-color;
}

.deposit-button,
.withdraw-button,
.transfer-button {
  background-color: $dark-color;
  color: white;
  border: none;
  height: 50px;
  width: 100%;
  max-width: 40%;
  margin: 10px auto 0 auto;
  border-radius: 10px;
}

.deposit-button:hover,
.withdraw-button:hover,
.transfer-button:hover {
    background-color: white;
    color: $dark-color;
    cursor: pointer;
}

.close-button {
  display: flex;
  justify-content: flex-end;
  color: $dark-color;
  margin-bottom: 10px;
}

// add account

.add-account-container {
  display: flex;
  width: 100%;
  max-width: 40%;
  margin: 0 auto;
  background-color: $dark-color;
  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
}

.add-account-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 4px;
  border-radius: 10px;
}

.add-account-inputs input {
  outline: none;
  border: none;
  height: 40px;
  font-size: 16px;
  padding-left: 10px;
  width: 100%;
  margin: 5px auto;
  color: $dark-color;
  border-radius: 10px;
}

.add-account-button {
  border: none;
  background: none;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.add-account-inputs:last-child {
  width: 100%;
  max-width: 14%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  margin: auto 5px;
}

.add-account-inputs:last-child:hover {
  background-color: $light-color;
  cursor: pointer;
  transition: all 0.3s;
}

.add-account-inputs input::placeholder {
  color: grey;
  font-size: 14px;
}

.add-account-inputs input:focus::placeholder {
  color: transparent;
}

.add-account-inputs input::-webkit-outer-spin-button,
.add-account-inputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error {
  margin: 0 5px;
  color: rgb(255, 60, 60);
  font-size: 14px;
}

.inputs {
  display: flex;
  width: 100%;
}

.logout-mobile {
  display: none;
}
