@media all and (max-width: 480px) {
  .withdraw-page {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25%;
    max-width: 95%;
    border-radius: 20px;

    .withdraw-container {
      display: flex;
      background-color: #61dbfb;
      flex-direction: column;
      width: 100%;
      height: 340px;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      border-radius: 20px;
    }
  }

  .withdraw-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 25px;
  }

  .withdraw-amount,
  .withdraw-from-input,
  .input-receipt {
    width: 100%;
    height: 30%;
    outline: none;
    border: none;
    background-color: #282c34;
    border-radius: 20px;
    margin-bottom: 10px;
    color: white;
    padding-left: 10px;
  }

  .withdraw-amount::placeholder,
  .input-receipt::placeholder,
  .withdraw-from-input::placeholder {
    color: white;
  }

  .show-withdraw {
    display: flex;
  }

  .withdraw-name-text,
  .send-receipt {
    margin-bottom: 5px;
    padding-left: 5px;
    color: #282c34;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .withdraw-button {
    width: 100%;
    max-width: 25%;
    margin: 10px auto 0 auto;
    background-color: #282c34;
    border-radius: 20px;
    color: white;
    height: 25%;
    border: none;
    text-align: center;
  }

  .withdraw-button:active {
    background-color: white;
    color: #282c34;
  }

  .withdraw-amount:focus::placeholder,
  .input-receipt:focus::placeholder,
  .withdraw-from-input:focus::placeholder {
    color: transparent;
  }
}
