* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #282c34;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}

.first-icon {
  font-size: 50px;
  color: #61dbfb;
  padding-right: 3px;
}

.bank-name {
  font-size: 50px;
  font-weight: 700;
  color: #61dbfb;
}

.bank-name > span {
  color: #282c34;
  background-color: #61dbfb;
  border-radius: 0 10px 10px 0;
  margin: 3px;
  padding: 0 5px 0 5px;
}

.bank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.dropdown-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.dropdown-button {
  border: none;
  border-bottom: 1px solid #282c34;
  background-color: rgba(97, 219, 251, 0.3);
  padding: 20px 20px;
  font-size: 18px;
  color: white;
  margin-top: 50px;
  outline: none;
}

.dropdown {
  position: relative;
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(97, 219, 251, 0.3);
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  font-size: 18px;
  line-height: 1.8;
  color: white;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #282c34;
}

.fa-caret-down {
  margin-left: 10px;
  font-size: 20px;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin-option {
  padding: 10px;
  border-bottom: 1px solid #282c34;
  width: 100%;
}

.user-option {
  padding: 10px;
}

.hide {
  display: none;
}

.user-page,
.admin-page {
  display: none;
  margin-top: 70%;
  width: 100%;
}

.user-page {
  margin-top: 130%;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.login > input {
  border: none;
  margin: 5px;
  border-radius: 10px;
  height: 50px;
  width: 150%;
  background-color: rgba(97, 219, 251, 0.3);
  outline: none;
  padding: 10px;
  color: white;
  font-size: 18px;
}

.login > input::-webkit-input-placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
}

.login > input:-ms-input-placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
}

.login > input::-ms-input-placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
}

.login > input::placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
}

.login > input:focus {
  color: white;
}

.login > input:focus::-webkit-input-placeholder {
  color: transparent;
}

.login > input:focus:-ms-input-placeholder {
  color: transparent;
}

.login > input:focus::-ms-input-placeholder {
  color: transparent;
}

.login > input:focus::placeholder {
  color: transparent;
}

.login-button {
  border: none;
  background-color: rgba(146, 150, 151, 0.3);
  border-radius: 20px;
  font-size: 15px;
  margin: 20px 0 10px 0;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.create-account,
.forgot-password,
.back-button {
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  margin-top: 15px;
  font-weight: 600;
  cursor: pointer;
}

.forgot-password {
  margin-top: 30px;
}

.show-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.error-message {
  color: red;
}
/*# sourceMappingURL=output.css.map */