@media all and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  body {
    background-color: #282c34;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .first-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hide-first-page {
    display: none;
  }
  .desktop-login {
    display: none;
  }
}

@media all and (max-width: 480px) {
  .first-icon {
    font-size: 50px;
    color: #61dbfb;
    padding-right: 3px;
  }
  .bank-name {
    font-size: 50px;
    font-weight: 700;
    color: #61dbfb;
  }
  .bank-name > span {
    color: #282c34;
    background-color: #61dbfb;
    border-radius: 0 10px 10px 0;
    margin: 3px;
    padding: 0 5px 0 5px;
  }
  .bank {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.dropdown-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.dropdown-button {
  border: none;
  border-bottom: 1px solid #282c34;
  background-color: rgba(97, 219, 251, 0.3);
  padding: 20px 20px;
  font-size: 18px;
  color: white;
  margin-top: 50px;
  outline: none;
}

.dropdown {
  position: relative;
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(97, 219, 251, 0.3);
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  font-size: 18px;
  line-height: 1.8;
  color: white;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #282c34;
}

.fa-caret-down {
  margin-left: 10px;
  font-size: 20px;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin-option {
  padding: 10px;
  border-bottom: 1px solid #282c34;
  width: 100%;
}

.user-option {
  padding: 10px;
}

.hide {
  display: none;
}

@media all and (max-width: 480px) {
  .user-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 70%;
    width: 100%;
  }
  .user-page {
    margin-top: 130%;
  }
  .login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .login > input {
    border: none;
    margin: 5px;
    border-radius: 10px;
    height: 50px;
    width: 150%;
    background-color: rgba(97, 219, 251, 0.3);
    outline: none;
    padding: 10px;
    color: white;
    font-size: 18px;
  }
  .login > input::-webkit-input-placeholder {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
  }
  .login > input:-ms-input-placeholder {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
  }
  .login > input::-ms-input-placeholder {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
  }
  .login > input::placeholder {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
  }
  .login > input:focus {
    color: white;
  }
  .login > input:focus::-webkit-input-placeholder {
    color: transparent;
  }
  .login > input:focus:-ms-input-placeholder {
    color: transparent;
  }
  .login > input:focus::-ms-input-placeholder {
    color: transparent;
  }
  .login > input:focus::placeholder {
    color: transparent;
  }
  .login-button {
    border: none;
    background-color: rgba(146, 150, 151, 0.3);
    border-radius: 20px;
    font-size: 15px;
    margin: 20px 0 10px 0;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
  }
  .create-account,
  .forgot-password,
  .back-button {
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    margin-top: 15px;
    font-weight: 600;
    cursor: pointer;
  }
  .forgot-password {
    margin-top: 30px;
  }
  .show-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .error-message {
    color: red;
  }
}

@media all and (max-width: 480px) {
  .admin-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 95%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
  }
  .admin-dashboard {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 50px 30px 0 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 95%;
  }
  .fa-magnifying-glass {
    position: relative;
    left: 90%;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    top: 28%;
  }
  .search {
    outline: none;
    background-color: rgba(97, 219, 251, 0.4);
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    color: white;
    padding-left: 20px;
    font-size: 16px;
  }
  .accounts {
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    margin-left: 5px;
  }
  .sort-up {
    margin-left: 220px;
  }
  .sort-up,
  .sort-down {
    color: white;
  }
  .hide {
    display: none;
  }
  .blur {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  .fa-right-from-bracket {
    color: white;
  }
}

@media all and (max-width: 480px) {
  .table-box {
    overflow: auto;
    height: 2000px;
    margin-top: 20px;
    width: 100%;
  }
  table {
    width: 100%;
    height: 100%;
    max-height: 10%;
    background-color: rgba(97, 219, 251, 0.4);
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    color: #282c34;
  }
  td {
    background-color: rgba(255, 255, 255, 0.7);
  }
  th,
  td {
    padding: 10px;
    font-size: 13px;
  }
  th {
    position: relative;
    color: white;
  }
  .table-options {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
    color: #61dbfb;
    font-size: 18px;
  }
  .fa-peso-sign {
    font-size: 13px;
  }
  a {
    text-decoration: none;
    color: #282c34;
  }
  .blur {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  #account-number {
    display: none;
  }
  .hide-name {
    display: none;
  }
  .show-account-number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .edit-button,
  .delete-button {
    color: white;
    cursor: pointer;
    font-size: 13px;
  }
  .delete-button {
    left: 25px;
  }
  .edit-button:hover,
  .delete-button:hover {
    color: #282c34;
  }
  .edit-delete {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    left: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .edit-button {
    margin-bottom: 10px;
  }
  td:first-child,
  th:first-child {
    width: 10px;
  }
  td:nth-child(2) {
    width: 100px;
  }
  td:nth-child(3) {
    width: 50px;
  }
  th:first-child {
    padding-left: 20px;
  }
  th:nth-child(2) {
    width: 170px;
  }
  th:nth-child(3) {
    width: 80px;
  }
  tr {
    height: 50px;
  }
}

@media all and (max-width: 480px) {
  .add-account-container {
    width: 100%;
    height: 100%;
    max-height: 22%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(97, 219, 251, 0.4);
    padding: 30px 0 10px 0;
    margin-top: 50px;
    border-radius: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .add-account-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 94%;
    margin-bottom: 2px;
  }
  .add-account-inputs > input {
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: #282c34;
    padding: 10px;
    border: none;
  }
  .input-fullname,
  .input-username {
    width: 100%;
    max-width: 64%;
    margin-right: 2px;
    color: #282c34;
    font-size: 15px;
    font-weight: 500;
  }
  .input-balance,
  .input-password {
    width: 100%;
    max-width: 35%;
    color: #282c34;
    font-size: 16px;
    font-weight: 500;
  }
  .add-account-button {
    width: 100%;
    max-width: 28%;
    background-color: #282c34;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 15px 0 0 0;
    font-size: 13px;
  }
  .add-account-button:hover {
    color: #282c34;
    background-color: white;
  }
  .add-account-inputs > input::-webkit-input-placeholder {
    color: #545760;
    font-size: 13px;
    font-weight: 500;
  }
  .add-account-inputs > input:-ms-input-placeholder {
    color: #545760;
    font-size: 13px;
    font-weight: 500;
  }
  .add-account-inputs > input::-ms-input-placeholder {
    color: #545760;
    font-size: 13px;
    font-weight: 500;
  }
  .add-account-inputs > input::placeholder {
    color: #545760;
    font-size: 13px;
    font-weight: 500;
  }
  .add-account-inputs > input:focus::-webkit-input-placeholder {
    color: transparent;
  }
  .add-account-inputs > input:focus:-ms-input-placeholder {
    color: transparent;
  }
  .add-account-inputs > input:focus::-ms-input-placeholder {
    color: transparent;
  }
  .add-account-inputs > input:focus::placeholder {
    color: transparent;
  }
  .blur {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
}

@media all and (max-width: 480px) {
  .transactions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 100%;
    max-height: 40%;
    margin-top: 40px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: rgba(97, 219, 251, 0.4);
  }
  .icon {
    font-size: 40px;
    margin-bottom: 5px;
  }
  .trans {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 1px;
  }
  .blur {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
}

@media all and (max-width: 480px) {
  .deposit-page {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25%;
    max-width: 95%;
    border-radius: 20px;
  }
  .deposit-page .deposit-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #61dbfb;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 340px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
  }
  .deposit-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 25px;
  }
  .deposit-amount,
  .deposit-from-input,
  .input-receipt {
    width: 100%;
    height: 30%;
    outline: none;
    border: none;
    background-color: #282c34;
    border-radius: 20px;
    margin-bottom: 10px;
    color: white;
    padding-left: 10px;
  }
  .deposit-amount::-webkit-input-placeholder,
  .input-receipt::-webkit-input-placeholder,
  .deposit-from-input::-webkit-input-placeholder {
    color: white;
  }
  .deposit-amount:-ms-input-placeholder,
  .input-receipt:-ms-input-placeholder,
  .deposit-from-input:-ms-input-placeholder {
    color: white;
  }
  .deposit-amount::-ms-input-placeholder,
  .input-receipt::-ms-input-placeholder,
  .deposit-from-input::-ms-input-placeholder {
    color: white;
  }
  .deposit-amount::placeholder,
  .input-receipt::placeholder,
  .deposit-from-input::placeholder {
    color: white;
  }
  .show-deposit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .deposit-name-text,
  .send-receipt {
    margin-bottom: 5px;
    padding-left: 5px;
    color: #282c34;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .deposit-button {
    width: 100%;
    max-width: 25%;
    margin: 10px auto 0 auto;
    background-color: #282c34;
    border-radius: 20px;
    color: white;
    height: 25%;
    border: none;
    text-align: center;
  }
  .deposit-button:active {
    background-color: white;
    color: #282c34;
  }
  .deposit-amount:focus::-webkit-input-placeholder,
  .input-receipt:focus::-webkit-input-placeholder,
  .deposit-from-input:focus::-webkit-input-placeholder {
    color: transparent;
  }
  .deposit-amount:focus:-ms-input-placeholder,
  .input-receipt:focus:-ms-input-placeholder,
  .deposit-from-input:focus:-ms-input-placeholder {
    color: transparent;
  }
  .deposit-amount:focus::-ms-input-placeholder,
  .input-receipt:focus::-ms-input-placeholder,
  .deposit-from-input:focus::-ms-input-placeholder {
    color: transparent;
  }
  .deposit-amount:focus::placeholder,
  .input-receipt:focus::placeholder,
  .deposit-from-input:focus::placeholder {
    color: transparent;
  }
}

@media all and (max-width: 480px) {
  .withdraw-page {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25%;
    max-width: 95%;
    border-radius: 20px;
  }
  .withdraw-page .withdraw-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #61dbfb;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 340px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
  }
  .withdraw-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 25px;
  }
  .withdraw-amount,
  .withdraw-from-input,
  .input-receipt {
    width: 100%;
    height: 30%;
    outline: none;
    border: none;
    background-color: #282c34;
    border-radius: 20px;
    margin-bottom: 10px;
    color: white;
    padding-left: 10px;
  }
  .withdraw-amount::-webkit-input-placeholder,
  .input-receipt::-webkit-input-placeholder,
  .withdraw-from-input::-webkit-input-placeholder {
    color: white;
  }
  .withdraw-amount:-ms-input-placeholder,
  .input-receipt:-ms-input-placeholder,
  .withdraw-from-input:-ms-input-placeholder {
    color: white;
  }
  .withdraw-amount::-ms-input-placeholder,
  .input-receipt::-ms-input-placeholder,
  .withdraw-from-input::-ms-input-placeholder {
    color: white;
  }
  .withdraw-amount::placeholder,
  .input-receipt::placeholder,
  .withdraw-from-input::placeholder {
    color: white;
  }
  .show-withdraw {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .withdraw-name-text,
  .send-receipt {
    margin-bottom: 5px;
    padding-left: 5px;
    color: #282c34;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .withdraw-button {
    width: 100%;
    max-width: 25%;
    margin: 10px auto 0 auto;
    background-color: #282c34;
    border-radius: 20px;
    color: white;
    height: 25%;
    border: none;
    text-align: center;
  }
  .withdraw-button:active {
    background-color: white;
    color: #282c34;
  }
  .withdraw-amount:focus::-webkit-input-placeholder,
  .input-receipt:focus::-webkit-input-placeholder,
  .withdraw-from-input:focus::-webkit-input-placeholder {
    color: transparent;
  }
  .withdraw-amount:focus:-ms-input-placeholder,
  .input-receipt:focus:-ms-input-placeholder,
  .withdraw-from-input:focus:-ms-input-placeholder {
    color: transparent;
  }
  .withdraw-amount:focus::-ms-input-placeholder,
  .input-receipt:focus::-ms-input-placeholder,
  .withdraw-from-input:focus::-ms-input-placeholder {
    color: transparent;
  }
  .withdraw-amount:focus::placeholder,
  .input-receipt:focus::placeholder,
  .withdraw-from-input:focus::placeholder {
    color: transparent;
  }
}

@media all and (max-width: 480px) {
  .transfer-page {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25%;
    max-width: 95%;
    border-radius: 20px;
  }
  .transfer-page .transfer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #61dbfb;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 420px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
  }
  .transfer-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 25px;
  }
  .transfer-amount,
  .transfer-to-input,
  .transfer-from-input,
  .input-receipt {
    width: 100%;
    height: 30%;
    outline: none;
    border: none;
    background-color: #282c34;
    border-radius: 20px;
    margin-bottom: 10px;
    color: white;
    padding-left: 10px;
  }
  .transfer-amount::-webkit-input-placeholder,
  .input-receipt::-webkit-input-placeholder,
  .transfer-to-input::-webkit-input-placeholder,
  .transfer-from-input::-webkit-input-placeholder {
    color: white;
  }
  .transfer-amount:-ms-input-placeholder,
  .input-receipt:-ms-input-placeholder,
  .transfer-to-input:-ms-input-placeholder,
  .transfer-from-input:-ms-input-placeholder {
    color: white;
  }
  .transfer-amount::-ms-input-placeholder,
  .input-receipt::-ms-input-placeholder,
  .transfer-to-input::-ms-input-placeholder,
  .transfer-from-input::-ms-input-placeholder {
    color: white;
  }
  .transfer-amount::placeholder,
  .input-receipt::placeholder,
  .transfer-to-input::placeholder,
  .transfer-from-input::placeholder {
    color: white;
  }
  .show-transfer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .transfer-to-text,
  .transfer-from-text,
  .send-receipt {
    margin-bottom: 5px;
    padding-left: 5px;
    color: #282c34;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .transfer-button {
    width: 100%;
    max-width: 25%;
    margin: 10px auto 0 auto;
    background-color: #282c34;
    border-radius: 20px;
    color: white;
    height: 25%;
    border: none;
    text-align: center;
  }
  .transfer-button:active {
    background-color: white;
    color: #282c34;
  }
  .transfer-amount:focus::-webkit-input-placeholder,
  .input-receipt:focus::-webkit-input-placeholder,
  .transfer-to-input:focus::-webkit-input-placeholder,
  .transfer-from-input:focus::-webkit-input-placeholder {
    color: transparent;
  }
  .transfer-amount:focus:-ms-input-placeholder,
  .input-receipt:focus:-ms-input-placeholder,
  .transfer-to-input:focus:-ms-input-placeholder,
  .transfer-from-input:focus:-ms-input-placeholder {
    color: transparent;
  }
  .transfer-amount:focus::-ms-input-placeholder,
  .input-receipt:focus::-ms-input-placeholder,
  .transfer-to-input:focus::-ms-input-placeholder,
  .transfer-from-input:focus::-ms-input-placeholder {
    color: transparent;
  }
  .transfer-amount:focus::placeholder,
  .input-receipt:focus::placeholder,
  .transfer-to-input:focus::placeholder,
  .transfer-from-input:focus::placeholder {
    color: transparent;
  }
}

@media all and (min-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  body {
    background-color: #282c34;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .first-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bank {
    display: none;
  }
  .desktop-bank-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .first-icon {
    color: #61dbfb;
    font-size: 30px;
  }
  .bank-name {
    font-weight: 700;
    color: #61dbfb;
    font-size: 30px;
  }
  .bank-name > span {
    color: #282c34;
    background-color: #61dbfb;
    border-radius: 0 10px 10px 0;
    margin: 3px;
    padding: 0 5px 0 5px;
  }
  .desktop-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 10%;
    padding: 20px 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .desktop-navbar ul {
    list-style-type: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 18px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .desktop-navbar ul li {
    margin: 15px 35px;
    color: white;
    font-weight: 500;
    cursor: pointer;
  }
  .desktop-navbar ul li:hover {
    color: #61dbfb;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .register {
    background-color: #61dbfb;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 600;
    color: #282c34;
  }
  .register:hover {
    -webkit-transform: scale(1, 2);
            transform: scale(1, 2);
    background-color: white;
  }
  .user-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 30px;
    background-color: rgba(97, 220, 251, 0.872);
    width: 100%;
    max-width: 30%;
    border-radius: 20px;
    background-image: -webkit-gradient(linear, right bottom, left top, from(#0a5b6f), color-stop(#2f8ea5), color-stop(#44b1cd), to(#75d5ec));
    background-image: linear-gradient(to top left, #0a5b6f, #2f8ea5, #44b1cd, #75d5ec);
    position: absolute;
    top: 30%;
    left: 65%;
    height: 420px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slogan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 1;
    margin-top: 10px;
  }
  .slogan-container {
    padding: 50px;
    font-size: 100px;
    width: 100%;
    max-width: 60%;
    color: white;
    font-weight: 700;
    margin: 100px 0 0 0;
  }
  .differently {
    font-style: italic;
    color: #61dbfb;
    font-weight: 700;
    letter-spacing: 3px;
  }
  .desktop-text {
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
    width: 100%;
    max-width: 50%;
    margin: 0 50px;
    line-height: 1.8;
    font-weight: 500;
  }
  .react-text {
    color: #61dbfb;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .bank-text {
    border-radius: 0 10px 10px 0;
    padding: 3px;
  }
  .desktop-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    max-width: 40%;
    margin: 40px 20px;
  }
  .get-started {
    background-color: #61dbfb;
    color: #282c34;
    width: 220px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
  }
  .get-started:hover {
    background-color: white;
  }
  .download-app {
    color: #61dbfb;
    font-weight: 600;
    font-size: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    letter-spacing: 1px;
  }
  .download-app:hover {
    color: white;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
  }
  .fa-download {
    margin-left: 10px;
  }
  .fa-arrow-right {
    margin-left: 10px;
  }
  .login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .login-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 70%;
  }
  .login > input {
    border: none;
    margin: 5px;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    max-width: 80%;
    background-color: white;
    outline: none;
    padding: 10px;
    color: #282c34;
    font-size: 18px;
  }
  .login > input::-webkit-input-placeholder {
    font-size: 18px;
    color: #282c34;
    position: relative;
  }
  .login > input:-ms-input-placeholder {
    font-size: 18px;
    color: #282c34;
    position: relative;
  }
  .login > input::-ms-input-placeholder {
    font-size: 18px;
    color: #282c34;
    position: relative;
  }
  .login > input::placeholder {
    font-size: 18px;
    color: #282c34;
    position: relative;
  }
  .login > input:focus {
    color: #282c34;
  }
  .login > input:focus::-webkit-input-placeholder {
    color: transparent;
  }
  .login > input:focus:-ms-input-placeholder {
    color: transparent;
  }
  .login > input:focus::-ms-input-placeholder {
    color: transparent;
  }
  .login > input:focus::placeholder {
    color: transparent;
  }
  .login-button {
    border: none;
    background-color: #282c34;
    border-radius: 20px;
    font-size: 15px;
    margin: 20px 0 10px 0;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-weight: 500;
  }
  .login-button:hover {
    background-color: white;
    color: #282c34;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .create-account,
  .forgot-password {
    color: #282c34;
    font-size: 15px;
    margin-top: 15px;
    font-weight: 600;
    cursor: pointer;
  }
  .create-account:hover,
  .forgot-password:hover {
    color: white;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .show-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .error-message {
    color: red;
  }
  .admin-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .admin-dashboard {
    width: 100%;
    height: 100%;
    max-height: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 95%;
    margin: 0 auto;
    height: 40px;
    font-size: 25px;
  }
  .dashboard-icon {
    color: white;
    margin: 0 20px;
  }
  .fa-magnifying-glass {
    display: none;
  }
  .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 30px auto;
    width: 100%;
    max-width: 90%;
  }
  .table-box {
    width: 100%;
    overflow: auto;
    height: 3000px;
    margin-top: 20px;
  }
  table {
    width: 100%;
    max-width: 90%;
    height: 100%;
    max-height: 20%;
    background-color: rgba(97, 219, 251, 0.4);
    font-size: 18px;
    padding: 60px 10px 10px 10px;
    border-radius: 10px;
    font-weight: 500;
    color: #282c34;
    margin: 0 auto;
  }
  .add-account-button {
    width: 100%;
    max-width: 15%;
  }
  .table-header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 75%;
    position: absolute;
    left: 12%;
    color: white;
    top: 27%;
    font-weight: 600;
  }
  .table-header {
    font-size: 25px;
  }
  .table-header:first-child {
    margin-right: 400px;
  }
  .table-header:nth-child(2) {
    margin-right: 380px;
  }
  tr {
    font-size: 25px;
    width: 100%;
    height: 10px;
  }
  .deposit-page,
  .withdraw-page,
  .transfer-page {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25%;
    max-width: 95%;
    border-radius: 20px;
  }
  .deposit-page .deposit-container,
  .deposit-page .withdraw-container,
  .deposit-page .transfer-container,
  .withdraw-page .deposit-container,
  .withdraw-page .withdraw-container,
  .withdraw-page .transfer-container,
  .transfer-page .deposit-container,
  .transfer-page .withdraw-container,
  .transfer-page .transfer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #61dbfb;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
    height: 400px;
    background-image: -webkit-gradient(linear, right bottom, left top, from(#0a5b6f), color-stop(#2f8ea5), color-stop(#44b1cd), to(#75d5ec));
    background-image: linear-gradient(to top left, #0a5b6f, #2f8ea5, #44b1cd, #75d5ec);
  }
  .deposit-nav,
  .withdraw-nav,
  .transfer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px 30px 0 30px;
  }
  .deposit-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 25px;
  }
  .deposit-amount,
  .deposit-from-input,
  .withdraw-amount,
  .withdraw-from-input,
  .transfer-from-input,
  .transfer-to-input,
  .transfer-amount,
  .input-receipt {
    width: 100%;
    height: 40%;
    outline: none;
    border: none;
    background-color: #282c34;
    border-radius: 20px;
    margin-bottom: 10px;
    color: white;
    padding-left: 10px;
    font-size: 18px;
  }
  .show-deposit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .deposit-name-text,
  .withdraw-name-text,
  .transfer-from-text,
  .transfer-to-text,
  .send-receipt {
    padding-left: 5px;
    color: #282c34;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .send-receipt {
    margin-top: 15px;
  }
  .deposit-button,
  .withdraw-button,
  .transfer-button {
    width: 100%;
    max-width: 20%;
    margin: 10px auto 0 auto;
    color: white;
    height: 35%;
    font-size: 18px;
  }
  .error-message {
    position: relative;
    bottom: 2%;
    left: 1%;
    font-weight: 500;
  }
  .deposit-page,
  .withdraw-page,
  .transfer-page {
    display: none;
  }
  .show-deposit,
  .show-withdraw,
  .show-transfer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hide-transaction {
    display: none;
  }
  .edit-button,
  .delete-button {
    color: white;
    position: relative;
    left: 15px;
    top: 10px;
    cursor: pointer;
  }
  .delete-button {
    left: 25px;
  }
  .edit-button:hover,
  .delete-button:hover {
    color: #282c34;
  }
  .third-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    padding: 3%;
  }
  .dashboard {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 30px;
    border-bottom: 1px solid #61dbfb;
    padding-bottom: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fa-arrow-right-from-bracket {
    cursor: pointer;
  }
  .top-bar {
    height: 10%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .greeting {
    font-size: 50px;
    color: white;
  }
  .greeting > span {
    font-weight: 700;
    color: #61dbfb;
  }
  .avatar {
    background-image: url("https://ca.slack-edge.com/T010DU0GZE0-U02TZTA9WKA-f995f60684ef-512");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-right: 10px;
  }
  .card-container {
    background-color: #61dbfb;
    height: 45%;
    width: 100%;
    max-width: 35%;
    margin: 40px 0;
    border-radius: 30px;
    padding: 10px 10px 0 10px;
  }
  .second-icon {
    display: block;
    /* -webkit-filter: saturate(1);
    filter: contrast(1);
    filter: brightness(1);
    filter: grayscale();
    filter: hue-rotate(200deg); */
    /* filter: invert(0.3); */
    padding-right: 3px;
    font-size: 35px;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 30px;
  }
  .card-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 10px;
  }
  .logo-name {
    color: #282c34;
    font-size: 35px;
    font-weight: 700;
  }
  .logo-name > span {
    background-color: #282c34;
    color: #61dbfb;
    border-radius: 0 10px 10px 0;
    margin: 3px;
    padding: 0 5px 0 5px;
    font-weight: 400;
  }
  .card-name,
  .card-number {
    font-weight: 600;
    color: #282c34;
    margin-top: 3px;
  }
  .card-name {
    font-size: 28px;
    font-weight: 700;
  }
  .card-number {
    font-size: 20px;
  }
  .chip {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    background-color: #282c34;
    width: 100%;
    max-width: 28%;
    height: 100%;
    max-height: 60%;
    border-radius: 10px;
    margin-top: 20px;
  }
  .chip-cell-1 {
    border-bottom: 1px solid #61dbfb;
  }
  .chip-cell-2 {
    /* border-right: 1px solid #61dbfb;
    border-left: 1px solid #61dbfb; */
    border-bottom: 1px solid #61dbfb;
  }
  .chip-cell-3 {
    border-bottom: 1px solid #61dbfb;
  }
  /* .chip-cell-4 {
    border-top: 1px solid #61dbfb;
  }

  .chip-cell-5 {
    border-top: 1px solid #61dbfb;
    transform: rotate(30deg);
    transform-origin: top left;
  } */
  /* .chip-cell-6 {
    border-top: 1px solid #61dbfb;
    transform: rotate(145deg);
    transform-origin: top left;
  } */
  .chip-cell-7 {
    border-top: 1px solid #61dbfb;
    /* border-right: 1px solid #61dbfb; */
  }
  .chip-cell-8 {
    border-top: 1px solid #61dbfb;
  }
  .chip-cell-9 {
    border-top: 1px solid #61dbfb;
    /* border-left: 1px solid #61dbfb; */
  }
  .chip::after {
    content: '';
    width: 30px;
    border: 1px solid #61dbfb;
    position: absolute;
    height: 40px;
    top: 45%;
    left: 8.3%;
    background-color: #282c34;
    border-radius: 5px;
  }
  .card-design {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 12px;
  }
  .wifi {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin: 20px 0 30px 10px;
    font-size: 43px;
  }
  .hide {
    display: none !important;
  }
  .show {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .bottom-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 20px;
    background-color: rgba(97, 219, 251, 0.3);
    left: 0;
    width: 100%;
    padding: 15px 30px;
    color: white;
    height: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
  }
  .balance {
    font-weight: 600;
  }
  .transaction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 100%;
    max-height: 40%;
    margin-top: 40px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: #61dbfb;
  }
  .icon {
    font-size: 50px;
    margin-bottom: 5px;
    color: #61dbfb;
    cursor: pointer;
  }
  .trans {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text {
    text-align: center;
    color: white;
    font-size: 15px;
    line-height: 1.3;
    letter-spacing: 1px;
    cursor: pointer;
  }
}

@media all and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .third-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    width: 350px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    padding-top: 50px;
  }
  .dashboard {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid #61dbfb;
    padding-bottom: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .fa-arrow-right-from-bracket {
    cursor: pointer;
  }
  .top-bar {
    height: 5%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .greeting {
    font-size: 25px;
    color: white;
  }
  .greeting > span {
    font-weight: 700;
    color: #61dbfb;
  }
  .avatar {
    background-image: url("https://ca.slack-edge.com/T010DU0GZE0-U02TZTA9WKA-f995f60684ef-512");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-right: 10px;
  }
  .card-container {
    background-color: #61dbfb;
    height: 30%;
    width: 100%;
    margin: 40px auto;
    border-radius: 30px;
    padding: 10px 10px 0 10px;
  }
  .second-icon {
    display: block;
    padding-right: 3px;
    font-size: 25px;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 30px;
  }
  .card-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 10px;
  }
  .logo-name {
    color: #282c34;
    font-size: 25px;
    font-weight: 700;
  }
  .logo-name > span {
    background-color: #282c34;
    color: #61dbfb;
    border-radius: 0 10px 10px 0;
    margin: 3px;
    padding: 2px 5px;
    font-weight: 400;
  }
  .card-name,
  .card-number {
    font-weight: 600;
    color: #282c34;
    margin-top: 3px;
  }
  .card-name {
    font-size: 20px;
    font-weight: 700;
  }
  .card-number {
    font-size: 15px;
  }
  .chip {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    background-color: #282c34;
    width: 100%;
    max-width: 25%;
    height: 100%;
    max-height: 80%;
    border-radius: 10px;
  }
  .chip-cell-1 {
    border-bottom: 1px solid #61dbfb;
  }
  .chip-cell-2 {
    /* border-right: 1px solid #61dbfb;
    border-left: 1px solid #61dbfb; */
    border-bottom: 1px solid #61dbfb;
  }
  .chip-cell-3 {
    border-bottom: 1px solid #61dbfb;
  }
  /* .chip-cell-4 {
    border-top: 1px solid #61dbfb;
  }

  .chip-cell-5 {
    border-top: 1px solid #61dbfb;
    transform: rotate(30deg);
    transform-origin: top left;
  } */
  /* .chip-cell-6 {
    border-top: 1px solid #61dbfb;
    transform: rotate(145deg);
    transform-origin: top left;
  } */
  .chip-cell-7 {
    border-top: 1px solid #61dbfb;
    /* border-right: 1px solid #61dbfb; */
  }
  .chip-cell-8 {
    border-top: 1px solid #61dbfb;
  }
  .chip-cell-9 {
    border-top: 1px solid #61dbfb;
    /* border-left: 1px solid #61dbfb; */
  }
  .chip::after {
    content: '';
    width: 15px;
    border: 1px solid #61dbfb;
    position: absolute;
    height: 25px;
    top: 33.8%;
    left: 24%;
    background-color: #282c34;
    border-radius: 5px;
  }
  .card-design {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 12px;
  }
  .wifi {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin: 0;
    font-size: 23px;
    margin: 0 0 10px 5px;
  }
  .hide {
    display: none !important;
  }
  .show {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .bottom-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 20px;
    background-color: rgba(97, 219, 251, 0.3);
    left: 0;
    width: 100%;
    padding: 15px 30px;
    color: white;
    height: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
  }
  .balance {
    font-weight: 600;
  }
  .transaction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 100%;
    max-height: 40%;
    margin-top: 40px;
    color: #61dbfb;
  }
  .icon {
    font-size: 30px;
    margin-bottom: 5px;
    color: #61dbfb;
    cursor: pointer;
  }
  .trans {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .text {
    text-align: center;
    color: white;
    font-size: 15px;
    line-height: 1.3;
    letter-spacing: 1px;
    cursor: pointer;
  }
}
/*# sourceMappingURL=output.css.map */