@media all and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  body {
    background-color: #282c34;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .first-page {
    display: flex;
  }

  .hide-first-page {
    display: none;
  }

  .desktop-login {
    display: none;
  }
}
@media all and (max-width: 480px) {
  .first-icon {
    font-size: 50px;
    color: #61dbfb;
    padding-right: 3px;
  }

  .bank-name {
    font-size: 50px;
    font-weight: 700;
    color: #61dbfb;
  }

  .bank-name > span {
    color: #282c34;
    background-color: #61dbfb;
    border-radius: 0 10px 10px 0;
    margin: 3px;
    padding: 0 5px 0 5px;
  }

  .bank {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }
}
.dropdown-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.dropdown-button {
  border: none;
  border-bottom: 1px solid #282c34;
  background-color: rgba(97, 219, 251, 0.3);
  padding: 20px 20px;
  font-size: 18px;
  color: white;
  margin-top: 50px;
  outline: none;
}

.dropdown {
  position: relative;
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(97, 219, 251, 0.3);
  z-index: 1;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-size: 18px;
  line-height: 1.8;
  color: white;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #282c34;
}

.fa-caret-down {
  margin-left: 10px;
  font-size: 20px;
}

.show {
  display: flex;
}

.admin-option {
  padding: 10px;
  border-bottom: 1px solid #282c34;
  width: 100%;
}

.user-option {
  padding: 10px;
}

.hide {
  display: none;
}

@media all and (max-width: 480px) {
  .user-page {
    display: flex;
    margin-top: 70%;
    width: 100%;
  }

  .user-page {
    margin-top: 130%;
  }

  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .login > input {
    border: none;
    margin: 5px;
    border-radius: 10px;
    height: 50px;
    width: 150%;
    background-color: rgba(97, 219, 251, 0.3);
    outline: none;
    padding: 10px;
    color: white;
    font-size: 18px;
  }

  .login > input::placeholder {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
  }

  .login > input:focus {
    color: white;
  }

  .login > input:focus::placeholder {
    color: transparent;
  }

  .login-button {
    border: none;
    background-color: rgba(146, 150, 151, 0.3);
    border-radius: 20px;
    font-size: 15px;
    margin: 20px 0 10px 0;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
  }

  .create-account,
.forgot-password,
.back-button {
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    margin-top: 15px;
    font-weight: 600;
    cursor: pointer;
  }

  .forgot-password {
    margin-top: 30px;
  }

  .show-login {
    display: flex;
  }

  .error-message {
    color: red;
  }
}
.admin-page {
  display: flex;
  width: 100%;
  max-width: 95%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.admin-dashboard {
  width: 100%;
  display: flex;
  margin: 50px 30px 0 30px;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  max-width: 95%;
}

.fa-magnifying-glass {
  position: relative;
  left: 90%;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  top: 28%;
}

.search {
  outline: none;
  background-color: rgba(97, 219, 251, 0.4);
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  color: white;
  padding-left: 20px;
  font-size: 16px;
}

.accounts {
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  margin-left: 5px;
}

.sort-up {
  margin-left: 220px;
}

.sort-up, .sort-down {
  color: white;
}

.hide {
  display: none;
}

.blur {
  filter: blur(4px);
}

.table-box {
  overflow: auto;
  height: 2000px;
  margin-top: 20px;
  width: 100%;
}

table {
  width: 100%;
  height: 100%;
  max-height: 10%;
  background-color: rgba(97, 219, 251, 0.4);
  font-size: 18px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;
  color: #282c34;
}

td {
  background-color: rgba(255, 255, 255, 0.7);
}

th,
td {
  padding: 10px 20px;
}

th {
  color: white;
}

.table-options {
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #61dbfb;
  font-size: 18px;
}

.fa-peso-sign {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #282c34;
}

.blur {
  filter: blur(4px);
}

#account-number {
  display: none;
}

.hide-name {
  display: none;
}

.show-account-number {
  display: flex;
}

.edit-button,
.delete-button {
  color: white;
  position: relative;
  left: 15px;
  top: 10px;
  cursor: pointer;
}

.delete-button {
  left: 25px;
}

.edit-button:hover,
.delete-button:hover {
  color: #282c34;
}

.add-account-container {
  width: 100%;
  height: 100%;
  max-height: 22%;
  display: flex;
  flex-direction: column;
  background-color: rgba(97, 219, 251, 0.4);
  padding: 70px 0 50px 0;
  margin-top: 50px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  max-width: 90%;
}

.add-account-inputs {
  display: flex;
  width: 100%;
  max-width: 94%;
  margin-bottom: 2px;
}

.add-account-inputs > input {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
  color: #282c34;
  padding: 10px;
  border: none;
}

.input-fullname, .input-username {
  width: 100%;
  max-width: 64%;
  margin-right: 2px;
  color: #282c34;
  font-size: 16px;
  font-weight: 500;
}

.input-balance, .input-password {
  width: 100%;
  max-width: 35%;
  color: #282c34;
  font-size: 16px;
  font-weight: 500;
}

.add-account-button {
  width: 100%;
  max-width: 30%;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.add-account-button:hover {
  color: #282c34;
  background-color: white;
}

.add-account-inputs > input::placeholder {
  color: #545760;
  font-size: 15px;
  font-weight: 500;
}

.add-account-inputs > input:focus::placeholder {
  color: transparent;
}

.blur {
  filter: blur(4px);
}

.transactions {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-height: 40%;
  margin-top: 40px;
  justify-content: space-around;
  color: #61dbfb;
}

.icon {
  font-size: 40px;
  margin-bottom: 5px;
}

.trans {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 10%;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 1px;
}

.blur {
  filter: blur(4px);
}

.deposit-page {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 25%;
  max-width: 95%;
  border-radius: 20px;
}
.deposit-page .deposit-container {
  display: flex;
  background-color: #61dbfb;
  flex-direction: column;
  width: 100%;
  height: 340px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}

.deposit-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 25px;
}

.deposit-amount,
.deposit-from-input,
.input-receipt {
  width: 100%;
  height: 30%;
  outline: none;
  border: none;
  background-color: #282c34;
  border-radius: 20px;
  margin-bottom: 10px;
  color: white;
  padding-left: 10px;
}

.deposit-amount::placeholder,
.input-receipt::placeholder,
.deposit-from-input::placeholder {
  color: white;
}

.show-deposit {
  display: flex;
}

.deposit-name-text,
.send-receipt {
  margin-bottom: 5px;
  padding-left: 5px;
  color: #282c34;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.deposit-button {
  width: 100%;
  max-width: 25%;
  margin: 10px auto 0 auto;
  background-color: #282c34;
  border-radius: 20px;
  color: white;
  height: 25%;
  border: none;
  text-align: center;
}

.deposit-button:active {
  background-color: white;
  color: #282c34;
}

.deposit-amount:focus::placeholder,
.input-receipt:focus::placeholder,
.deposit-from-input:focus::placeholder {
  color: transparent;
}

.withdraw-page {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 25%;
  max-width: 95%;
  border-radius: 20px;
}
.withdraw-page .withdraw-container {
  display: flex;
  background-color: #61dbfb;
  flex-direction: column;
  width: 100%;
  height: 340px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}

.withdraw-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 25px;
}

.withdraw-amount,
.withdraw-from-input,
.input-receipt {
  width: 100%;
  height: 30%;
  outline: none;
  border: none;
  background-color: #282c34;
  border-radius: 20px;
  margin-bottom: 10px;
  color: white;
  padding-left: 10px;
}

.withdraw-amount::placeholder,
.input-receipt::placeholder,
.withdraw-from-input::placeholder {
  color: white;
}

.show-withdraw {
  display: flex;
}

.withdraw-name-text,
.send-receipt {
  margin-bottom: 5px;
  padding-left: 5px;
  color: #282c34;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.withdraw-button {
  width: 100%;
  max-width: 25%;
  margin: 10px auto 0 auto;
  background-color: #282c34;
  border-radius: 20px;
  color: white;
  height: 25%;
  border: none;
  text-align: center;
}

.withdraw-button:active {
  background-color: white;
  color: #282c34;
}

.withdraw-amount:focus::placeholder,
.input-receipt:focus::placeholder,
.withdraw-from-input:focus::placeholder {
  color: transparent;
}

.transfer-page {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 25%;
  max-width: 95%;
  border-radius: 20px;
}
.transfer-page .transfer-container {
  display: flex;
  background-color: #61dbfb;
  flex-direction: column;
  width: 100%;
  height: 420px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}

.transfer-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 25px;
}

.transfer-amount,
.transfer-to-input,
.transfer-from-input,
.input-receipt {
  width: 100%;
  height: 30%;
  outline: none;
  border: none;
  background-color: #282c34;
  border-radius: 20px;
  margin-bottom: 10px;
  color: white;
  padding-left: 10px;
}

.transfer-amount::placeholder,
.input-receipt::placeholder,
.transfer-to-input::placeholder,
.transfer-from-input::placeholder {
  color: white;
}

.show-transfer {
  display: flex;
}

.transfer-to-text,
.transfer-from-text,
.send-receipt {
  margin-bottom: 5px;
  padding-left: 5px;
  color: #282c34;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.transfer-button {
  width: 100%;
  max-width: 25%;
  margin: 10px auto 0 auto;
  background-color: #282c34;
  border-radius: 20px;
  color: white;
  height: 25%;
  border: none;
  text-align: center;
}

.transfer-button:active {
  background-color: white;
  color: #282c34;
}

.transfer-amount:focus::placeholder,
.input-receipt:focus::placeholder,
.transfer-to-input:focus::placeholder,
.transfer-from-input:focus::placeholder {
  color: transparent;
}

@media all and (min-width: 1024px) and (max-width: 1440px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  body {
    background-color: #282c34;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .first-page {
    display: flex;
    flex-direction: column;
  }

  .bank {
    display: none;
  }

  .desktop-bank-logo {
    display: flex;
  }

  .first-icon {
    color: #61dbfb;
    font-size: 30px;
  }

  .bank-name {
    font-weight: 700;
    color: #61dbfb;
    font-size: 30px;
  }

  .bank-name > span {
    color: #282c34;
    background-color: #61dbfb;
    border-radius: 0 10px 10px 0;
    margin: 3px;
    padding: 0 5px 0 5px;
  }

  .desktop-navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    padding: 20px 30px;
    align-items: center;
  }

  .desktop-navbar ul {
    list-style-type: none;
    display: inline-flex;
    font-size: 18px;
    align-items: center;
  }

  .desktop-navbar ul li {
    margin: 15px 35px;
    color: white;
    font-weight: 500;
    cursor: pointer;
  }

  .desktop-navbar ul li:hover {
    color: #61dbfb;
    transition: 0.2s;
  }

  .register {
    background-color: #61dbfb;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 600;
    color: #282c34;
  }

  .register:hover {
    transform: scale(1, 2);
    background-color: white;
  }

  .user-page {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    background-color: rgba(97, 220, 251, 0.872);
    width: 100%;
    max-width: 30%;
    border-radius: 20px;
    background-image: linear-gradient(to top left, #0a5b6f, #2f8ea5, #44b1cd, #75d5ec);
    position: absolute;
    top: 30%;
    left: 65%;
    height: 420px;
    align-items: center;
  }

  .slogan {
    display: flex;
    flex-direction: column;
    line-height: 1;
    margin-top: 10px;
  }

  .slogan-container {
    padding: 50px;
    font-size: 100px;
    width: 100%;
    max-width: 60%;
    color: white;
    font-weight: 700;
    margin: 100px 0 0 0;
  }

  .differently {
    font-style: italic;
    color: #61dbfb;
    font-weight: 700;
    letter-spacing: 3px;
  }

  .desktop-text {
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
    width: 100%;
    max-width: 50%;
    margin: 0 50px;
    line-height: 1.8;
    font-weight: 500;
  }

  .react-text {
    color: #61dbfb;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .bank-text {
    border-radius: 0 10px 10px 0;
    padding: 3px;
  }

  .desktop-options {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 40%;
    margin: 40px 20px;
  }

  .get-started {
    background-color: #61dbfb;
    color: #282c34;
    width: 220px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
  }

  .get-started:hover {
    background-color: white;
  }

  .download-app {
    color: #61dbfb;
    font-weight: 600;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
  }

  .download-app:hover {
    color: white;
    transition: 0.2s;
    cursor: pointer;
  }

  .fa-download {
    margin-left: 10px;
  }

  .fa-arrow-right {
    margin-left: 10px;
  }

  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .login-options {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 70%;
  }

  .login > input {
    border: none;
    margin: 5px;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    max-width: 80%;
    background-color: white;
    outline: none;
    padding: 10px;
    color: #282c34;
    font-size: 18px;
  }

  .login > input::placeholder {
    font-size: 18px;
    color: #282c34;
    position: relative;
  }

  .login > input:focus {
    color: #282c34;
  }

  .login > input:focus::placeholder {
    color: transparent;
  }

  .login-button {
    border: none;
    background-color: #282c34;
    border-radius: 20px;
    font-size: 15px;
    margin: 20px 0 10px 0;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-weight: 500;
  }

  .login-button:hover {
    background-color: white;
    color: #282c34;
    transition: 0.2s;
  }

  .create-account,
.forgot-password {
    color: #282c34;
    font-size: 15px;
    margin-top: 15px;
    font-weight: 600;
    cursor: pointer;
  }

  .create-account:hover,
.forgot-password:hover {
    color: white;
    transition: 0.2s;
  }

  .show-login {
    display: flex;
  }

  .error-message {
    color: red;
  }

  .admin-page {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .admin-dashboard {
    width: 100%;
    height: 100%;
    max-height: 20%;
    display: flex;
    flex-direction: column;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    max-width: 95%;
    margin: 0 auto;
    height: 40px;
    font-size: 25px;
  }

  .dashboard-icon {
    color: white;
    margin: 0 20px;
  }

  .fa-magnifying-glass {
    display: none;
  }

  .search {
    display: flex;
  }

  .table-box {
    width: 100%;
    overflow: auto;
    height: 3000px;
    margin-top: 20px;
  }

  table {
    width: 100%;
    max-width: 90%;
    height: 100%;
    max-height: 20%;
    background-color: rgba(97, 219, 251, 0.4);
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    color: #282c34;
    margin: 0 auto;
  }

  .add-account-button {
    width: 100%;
    max-width: 15%;
  }

  th {
    font-size: 25px;
  }

  tr {
    font-size: 25px;
  }

  .deposit-page,
.withdraw-page,
.transfer-page {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25%;
    max-width: 95%;
    border-radius: 20px;
  }
  .deposit-page .deposit-container,
.deposit-page .withdraw-container,
.deposit-page .transfer-container,
.withdraw-page .deposit-container,
.withdraw-page .withdraw-container,
.withdraw-page .transfer-container,
.transfer-page .deposit-container,
.transfer-page .withdraw-container,
.transfer-page .transfer-container {
    display: flex;
    background-color: #61dbfb;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
    height: 400px;
    background-image: linear-gradient(to top left, #0a5b6f, #2f8ea5, #44b1cd, #75d5ec);
  }

  .deposit-nav,
.withdraw-nav,
.transfer-nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 30px 0 30px;
  }

  .deposit-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 25px;
  }

  .deposit-amount,
.deposit-from-input,
.withdraw-amount,
.withdraw-from-input,
.transfer-from-input,
.transfer-to-input,
.transfer-amount,
.input-receipt {
    width: 100%;
    height: 40%;
    outline: none;
    border: none;
    background-color: #282c34;
    border-radius: 20px;
    margin-bottom: 10px;
    color: white;
    padding-left: 10px;
    font-size: 18px;
  }

  .show-deposit {
    display: flex;
  }

  .deposit-name-text,
.withdraw-name-text,
.transfer-from-text,
.transfer-to-text,
.send-receipt {
    padding-left: 5px;
    color: #282c34;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .send-receipt {
    margin-top: 15px;
  }

  .deposit-button,
.withdraw-button,
.transfer-button {
    width: 100%;
    max-width: 20%;
    margin: 10px auto 0 auto;
    color: white;
    height: 35%;
    font-size: 18px;
  }

  .error-message {
    position: relative;
    bottom: 2%;
    left: 1%;
    font-weight: 500;
  }

  .deposit-page,
.withdraw-page,
.transfer-page {
    display: none;
  }

  .show-deposit,
.show-withdraw,
.show-transfer {
    display: flex;
  }

  .hide-transaction {
    display: none;
  }
}

/*# sourceMappingURL=output.css.map */
