@media all and (max-width: 1024px) {
  $dark-color: #282c34;
  $light-color: #61dbfb;
  $white: rgba(255, 255, 255, 0.8);
  $gradient: linear-gradient(to top left, #0a5b6f, #2f8ea5, #5fbfd7, #75d5ec);

  .desktop-login {
    width: 100%;
    height: 100vh;
    overflow: scroll;
  }

  .bank-logo.mobile {
    display: none;
  }

  .desktop-navbar ul li {
    margin-left: 40px;
    font-size: 14px;
  }

  .fa-bars {
    display: none;
  }

  .bank-logo {
    font-size: 20px;
  }

  .slogan {
    margin-top: 0px;
    font-size: 60px;
  }

  .slogan-text {
    font-size: 15px;
    margin-top: 20px;
  }

  .desktop-options {
    width: 100%;
    max-width: 70%;
    margin-top: 20px;
  }

  .get-started,
  .download-app {
    padding: 15px 25px;
    font-size: 12px;
  }

  .user-page {
    max-width: 40%;
    height: 360px;
    margin-top: 20px;
  }

  .login input {
    height: 40px;
    width: 200px;
    font-size: 13px;
  }

  .login-button {
    width: 90px;
    font-size: 13px;
  }

  .login-options {
    font-size: 12px;
  }

  .login-footer {
    font-size: 10px;
  }

  .create-account {
    margin-top: 5px;
  }

  // second section

  .second-section {
    font-size: 20px;
    padding: 0 100px;
  }

  .follow {
    font-size: 10px;
    text-transform: uppercase;
  }

  .social {
    font-size: 20px;
  }

  .about {
    font-size: 10px;
    width: 300px;
  }

  .error-message {
    color: rgb(152, 26, 26);
    font-size: 10px;
  }
}
