@media all and (max-width: 1024px) {
  $dark-color: #282c34;
  $light-color: #61dbfb;
  $white: rgba(255, 255, 255, 0.8);
  $gradient: linear-gradient(to top left, #0a5b6f, #2f8ea5, #5fbfd7, #75d5ec);

  .third-page {
    overflow: scroll;
  }

  .container {
    margin: 20px auto;
  }

  .left-container,
  .right-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
  }

  .card {
    height: 250px;
    max-width: 90%;
  }

  .balance-name {
    font-size: 20px;
  }

  .card-balance {
    font-size: 40px;
  }

  .card-name,
  .card-number {
    font-size: 16px;
  }

  .valid-thru {
    font-size: 7px;
  }

  .valid-date {
    font-size: 14px;
  }

  .mastercard {
    width: 40px;
  }

  .manage-expenses {
    display: none;
  }

  .transaction-history {
    max-width: 90%;
    margin: 40px 0;
  }

  .history-title,
  .expenses-title,
  .user-transaction-title {
    font-size: 16px;
  }

  .bottom-nav {
    font-size: 16px;
  }

  .expenses-list ul li {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }

  .expense-name {
    font-size: 16px;
  }

  .cost {
    width: 70px;
    height: 25px;
    font-size: 14px;
  }

  .expenses li > .pay-button {
    width: 70px;
    height: 25px;
    font-size: 14px;
  }

  .edit-expense,
  .delete-expense {
    font-size: 14px;
  }

  .add-expense-list,
  .input-cost {
    outline: none;
    border: none;
    height: 35px;
    padding-left: 10px;
    width: 160px;
    border-radius: 5px;
    background-color: $dark-color;
    color: white;
    font-size: 14px;
  }

  .input-cost {
    margin-left: 20px;
    width: 70px;
  }

  // user transactions

  .transactions {
    width: 100%;
    max-width: 30%;
    margin: 0;
  }

  .trans {
    padding: 20px 25px;
    font-size: 14px;
    margin: 0 5px;
  }

  .deposit-page,
  .withdraw-page,
  .transfer-page {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
  }

  .deposit-container,
  .withdraw-container,
  .transfer-container {
    justify-content: center;
  }

  .user-logout {
    display: none;
  }
}
