@media all and (max-width: 1024px) {
  $dark-color: #282c34;
  $light-color: #61dbfb;
  $white: rgba(255, 255, 255, 0.8);
  $gradient: linear-gradient(to top left, #0a5b6f, #2f8ea5, #5fbfd7, #75d5ec);

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
  }

  .nav-bar ul li {
    margin-right: 50px;
  }

  .search-bar {
    font-size: 30px;
    align-items: center;
    margin: 85px auto 0 auto;
  }

  .search {
    width: 500px;
    height: 40px;
    font-size: 14px;
  }

  image {
    display: none;
  }

  .table-box {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 90%;
    // margin: 0 auto 50px auto;
  }

  table {
    height: 100px;
  }

  td,
  tr,
  th {
    font-weight: 500;
    font-size: 14px;
    padding: 0 10px;
  }

  th {
    background-color: $dark-color;
    color: white;
    font-size: 15px;
  }

  .edit-delete {
    font-size: 14px;
  }

  .manage-account {
    width: 100%;
    max-width: 80%;
    margin: 40px auto;
    align-items: center;
    margin-bottom: 5px;
  }

  // transactions

  .transactions {
    width: 100%;
    max-width: 30%;
    margin: 0;
  }

  .trans {
    padding: 20px 25px;
    font-size: 14px;
    margin: 0 5px;
  }

  .deposit-page,
  .withdraw-page,
  .transfer-page {
    position: absolute;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .deposit-container,
  .withdraw-container,
  .transfer-container {
    justify-content: center;
  }

  // add account

  .add-account-container {
    max-width: 50%;
    margin: 0;
    padding: 10px;
  }

  .add-account-inputs input {
    font-size: 14px;
  }

  .add-account-button {
    font-size: 10px;
  }

  .error {
    font-size: 10px;
  }

  .logout-mobile {
    display: none;
  }
}

.logout-mobile {
  display: none;
}

.hide-transaction {
  display: none;
}
