@media all and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .third-page {
    display: flex;
    height: 100vh;
    width: 350px;
    flex-direction: column;
    overflow: hidden;
    padding-top: 50px;
  }

  .dashboard {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid #61dbfb;
    padding-bottom: 15px;
    align-items: center;
  }

  .fa-arrow-right-from-bracket {
    cursor: pointer;
  }

  .top-bar {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .greeting {
    font-size: 25px;
    color: rgb(255, 255, 255);
  }

  .greeting > span {
    font-weight: 700;
    color: #61dbfb;
  }

  .avatar {
    background-image: url('https://ca.slack-edge.com/T010DU0GZE0-U02TZTA9WKA-f995f60684ef-512');
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-right: 10px;
  }

  .card-container {
    background-color: rgb(97, 219, 251);
    height: 30%;
    width: 100%;
    margin: 40px auto;
    border-radius: 30px;
    padding: 10px 10px 0 10px;
  }

  .second-icon {
    display: block;
    padding-right: 3px;
    font-size: 25px;
  }

  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding: 30px;
  }

  .card-logo {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .logo-name {
    color: #282c34;
    font-size: 25px;
    font-weight: 700;
  }

  .logo-name > span {
    background-color: #282c34;
    color: #61dbfb;
    border-radius: 0 10px 10px 0;
    margin: 3px;
    padding: 2px 5px;
    font-weight: 400;
  }

  .card-name,
  .card-number {
    font-weight: 600;
    color: #282c34;
    margin-top: 3px;
  }

  .card-name {
    font-size: 20px;
    font-weight: 700;
  }

  .card-number {
    font-size: 15px;
  }

  .chip {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #282c34;
    width: 100%;
    max-width: 25%;
    height: 100%;
    max-height: 80%;
    border-radius: 10px;
  }

  .chip-cell-1 {
    border-bottom: 1px solid #61dbfb;
  }

  .chip-cell-2 {
    /* border-right: 1px solid #61dbfb;
    border-left: 1px solid #61dbfb; */
    border-bottom: 1px solid #61dbfb;
  }

  .chip-cell-3 {
    border-bottom: 1px solid #61dbfb;
  }

  /* .chip-cell-4 {
    border-top: 1px solid #61dbfb;
  }

  .chip-cell-5 {
    border-top: 1px solid #61dbfb;
    transform: rotate(30deg);
    transform-origin: top left;
  } */

  /* .chip-cell-6 {
    border-top: 1px solid #61dbfb;
    transform: rotate(145deg);
    transform-origin: top left;
  } */

  .chip-cell-7 {
    border-top: 1px solid #61dbfb;
    /* border-right: 1px solid #61dbfb; */
  }

  .chip-cell-8 {
    border-top: 1px solid #61dbfb;
  }

  .chip-cell-9 {
    border-top: 1px solid #61dbfb;
    /* border-left: 1px solid #61dbfb; */
  }

  .chip::after {
    content: '';
    width: 15px;
    border: 1px solid #61dbfb;
    position: absolute;
    height: 25px;
    top: 33.8%;
    left: 24%;
    background-color: #282c34;
    border-radius: 5px;
  }

  .card-design {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 12px;
  }

  .wifi {
    transform: rotate(90deg);
    margin: 0;
    font-size: 23px;
    margin: 0 0 10px 5px;
  }

  .hide {
    display: none !important;
  }

  .show {
    display: flex !important;
  }

  .bottom-nav {
    display: flex;
    position: absolute;
    bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    background-color: rgba(97, 219, 251, 0.3);
    left: 0;
    width: 100%;
    padding: 15px 30px;
    color: white;
    height: 60px;
    align-items: center;
    font-size: 16px;
  }

  .balance {
    font-weight: 600;
  }

  .transaction {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    max-height: 40%;
    margin-top: 40px;
    color: #61dbfb;
  }

  .icon {
    font-size: 30px;
    margin-bottom: 5px;
    color: rgb(97, 219, 251);
    cursor: pointer;
  }

  .trans {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .text {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 1.3;
    letter-spacing: 1px;
    cursor: pointer;
  }
}
