@media all and (max-width: 480px) {
  .admin-page {
    display: flex;
    width: 100%;
    max-width: 95%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
  }

  .admin-dashboard {
    width: 100%;
    // height: 100%;
    display: flex;
    margin: 50px 30px 0 30px;
    flex-direction: column;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    max-width: 95%;
  }

  .fa-magnifying-glass {
    position: relative;
    left: 90%;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    top: 28%;
  }

  .search {
    outline: none;
    background-color: rgba(97, 219, 251, 0.4);
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    color: white;
    padding-left: 20px;
    font-size: 16px;
  }

  .accounts {
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    margin-left: 5px;
  }

  .sort-up {
    margin-left: 220px;
  }

  .sort-up,
  .sort-down {
    color: white;
  }

  .hide {
    display: none;
  }

  .blur {
    filter: blur(4px);
  }

  .fa-right-from-bracket {
    color: white;
  }
}
