.admin-page {
    display: flex;
}
.admin-dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 90%;
    height: 90%;
    margin: 30px;
    color: #282c34;
    align-items: center;
    flex-direction: column;
  }

  .fa-magnifying-glass {
    position: relative;
    left: 43%;
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    top: 3.7%;
  }
  
  .search {
    outline: none;
    background-color: rgba(97, 219, 251, 0.4);
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .accounts {
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .sort-up {
    margin-left: 200px;
  }

  .show-admin-page {
      display: flex;
  }