.table-box {
  overflow: auto;
  height: 2000px;
  margin-top: 20px;
  width: 100%;
}

table {
    width: 100%;
    height: 100%;
    max-height: 10%;
    background-color: rgba(97, 219, 251, 0.4);
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    color: #282c34;
    // position: relative;
    // top: -30%
  }
  

  td {
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  th,
  td {
    padding: 10px 20px;
  }
  
  th {
    color: white;
  }
  
  .table-options {
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #61dbfb;
    font-size: 18px;
  }

  .fa-peso-sign {
    font-size: 16px;
  }

  a {
      text-decoration: none;
      color: #282c34;
  }

  .blur {
    filter: blur(4px)
  }
  
  #account-number {
    display: none;
  }

  .hide-name {
    display: none;
  }

  .show-account-number {
    display: flex
  }

  .edit-button, 
  .delete-button {
    color: white;
    position: relative;
    left: 15px;
    top: 10px;
    cursor: pointer;
  }

  .delete-button {
    left: 25px;
  }

  .edit-button:hover, 
  .delete-button:hover {
    color: #282c34
  }