@media all and (min-width: 769px) and (max-width: 1023px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  body {
    background-color: #282c34;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .first-page {
    display: flex;
    flex-direction: column;
  }

  .bank {
    display: none;
  }

  .desktop-bank-logo {
    display: flex;
  }
  .first-icon {
    color: #61dbfb;
    font-size: 25px;
  }

  .bank-name {
    font-weight: 700;
    color: #61dbfb;
    font-size: 25px;
  }

  .bank-name > span {
    color: #282c34;
    background-color: #61dbfb;
    border-radius: 0 10px 10px 0;
    margin: 3px;
    padding: 0 5px 0 5px;
  }

  .desktop-navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    padding: 20px 30px;
    align-items: center;
    margin: 0 auto;
  }

  .desktop-navbar ul {
    display: none;
  }

.fa-bars {
    color: white;
    margin-right: 10px;
    font-size: 20px;
}

  .user-page {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    background-color: rgba(97, 220, 251, 0.872);
    width: 100%;
    max-width: 70%;
    border-radius: 20px;
    background-image: linear-gradient(
      to top left,
      #0a5b6f,
      #2f8ea5,
      #44b1cd,
      #75d5ec
    );
    position: absolute;
    bottom: 8%;
    left: 15%;
    height: 220px;
    align-items: center;
  }

  .slogan {
    display: flex;
    flex-direction: column;
    line-height: 1;
    margin-top: 10px
  }

  .slogan-container {
    padding: 50px;
    font-size: 80px;
    width: 100%;
    max-width: 90%;
    color: white;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
  }

  .differently {
    font-style: italic;
    color: #61dbfb;
    font-weight: 700;
    letter-spacing: 3px;
  }

  .desktop-text {
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    line-height: 1.8;
    font-weight: 500;
    text-align: center;
  }

  .react-text {
    color: #61dbfb;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .bank-text {
    border-radius: 0 10px 10px 0;
    padding: 3px;
  }

  .desktop-options {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 80%;
    margin: 40px auto;
  }

  .get-started {
    background-color: #61dbfb;
    color: #282c34;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
  }

  .get-started:hover {
    background-color: white;
  }

  .download-app {
    color: #61dbfb;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
  }

  .download-app:hover {
    color: white;
    transition: 0.2s;
    cursor: pointer;
  }

  .fa-download {
    margin-left: 10px;
  }

  .fa-arrow-right {
    margin-left: 10px;
  }

  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .login-options {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 70%;
  }

  .login > input {
    border: none;
    margin: 5px;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    max-width: 80%;
    background-color: white;
    outline: none;
    padding: 10px;
    color: #282c34;
    font-size: 18px;
  }

  .login > input::placeholder {
    // padding: 10px;
    font-size: 16px;
    color: #282c34;
    position: relative;
  }

  .login > input:focus {
    color: #282c34;
  }

  .login > input:focus::placeholder {
    color: transparent;
  }

  .login-button {
    border: none;
    background-color: #282c34;
    border-radius: 20px;
    font-size: 12px;
    margin: 20px 0 10px 0;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-weight: 500;
  }

  .login-button:hover {
    background-color: white;
    color: #282c34;
    transition: 0.2s;
  }

  .create-account,
  .forgot-password {
    color: #282c34;
    font-size: 12px;
    margin-top: 15px;
    font-weight: 600;
    cursor: pointer;
  }

  .create-account:hover,
  .forgot-password:hover {
    color: white;
    transition: 0.2s;
  }

  .show-login {
    display: flex;
  }

  .error-message {
    color: red;
  }

  // admin-page

  .add-account-container {
    width: 100%;
    height: 100%;
    max-height: 22%;
    display: flex;
    flex-direction: column;
    background-color: rgba(97, 219, 251, 0.4);
    padding: 30px 0 10px 0;
    margin-top: 50px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    max-width: 80%;
  }

  .add-account-inputs {
    display: flex;
    width: 100%;
    max-width: 94%;
    margin-bottom: 2px;
  }

  .add-account-inputs > input {
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: #282c34;
    padding: 10px;
    border: none;
  }

  .input-fullname,
  .input-username {
    width: 100%;
    max-width: 64%;
    margin-right: 2px;
    color: #282c34;
    font-size: 15px;
    font-weight: 500;
  }

  .input-balance,
  .input-password {
    width: 100%;
    max-width: 35%;
    color: #282c34;
    font-size: 16px;
    font-weight: 500;
  }

  .add-account-button {
    width: 100%;
    max-width: 20%;
    background-color: #282c34;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin: 15px 0 0 0;
    font-size: 13px;
    font-weight: 500;
  }

  .add-account-button:hover {
    color: #282c34;
    background-color: white;
  }

  .add-account-inputs > input::placeholder {
    color: #545760;
    font-size: 16px;
    font-weight: 500;
  }

  .add-account-inputs > input:focus::placeholder {
    color: transparent;
  }

  .blur {
    filter: blur(4px);
  }

  .admin-page {
    display: flex;
    width: 100%;
    max-width: 95%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
  }

  .admin-dashboard {
    width: 100%;
    // height: 100%;
    display: flex;
    margin: 50px 30px 0 30px;
    flex-direction: column;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    max-width: 95%;
    margin: 0 auto;
    font-size: 20px;
  }

  .fa-magnifying-glass {
    position: relative;
    left: 90%;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    top: 28%;
  }

  .search {
    outline: none;
    background-color: rgba(97, 219, 251, 0.4);
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    max-width: 95%;
    margin: 30px auto;
    color: white;
    padding-left: 20px;
    font-size: 16px;
  }

  .search::placeholder {
    color: white
  }

  .search:focus::placeholder {
    color: transparent;
  }

  .accounts {
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    margin-left: 5px;
  }

  .sort-up {
    margin-left: 220px;
  }

  .sort-up,
  .sort-down {
    color: white;
  }

  .hide {
    display: none;
  }

  .blur {
    filter: blur(4px);
  }

  .fa-right-from-bracket {
    color: white;
  }

  .fa-bars {
    display:none
  }

  .table-box {
    overflow: auto;
    height: 2000px;
    margin-top: 20px;
    width: 100%;
  }

  table {
    width: 100%;
    height: 100%;
    max-height: 10%;
    max-width: 95%;
    background-color: rgba(97, 219, 251, 0.4);
    font-size: 28px;
    margin: 20px auto 0 auto;
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    color: #282c34;
    // position: relative;
    // top: -30%
  }

  td {
    background-color: rgba(255, 255, 255, 0.7);
  }

  th,
  td {
    padding: 10px;
    font-size: 16px;
  }

  th {
    position: relative;
    color: white;
  }

  .table-options {
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #61dbfb;
    font-size: 18px;
  }

  .fa-peso-sign {
    font-size: 15px;
  }

  a {
    text-decoration: none;
    color: #282c34;
  }

  .blur {
    filter: blur(4px);
  }

  #account-number {
    display: none;
  }

  .hide-name {
    display: none;
  }

  .show-account-number {
    display: flex;
  }

  .edit-button,
  .delete-button {
    color: white;
    // position: relative;
    // left: 20px;
    // top: 20px;
    cursor: pointer;
    font-size: 16px;
  }

  .delete-button {
    left: 25px;
  }

  .edit-button:hover,
  .delete-button:hover {
    color: #282c34;
  }

  .edit-delete {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 100%;
  }

  // .edit-button {
  //   // margin-bottom: 10px;
  // }

  // td:first-child,
  // th:first-child {
  //   width: 10px;
  // }

  // td:nth-child(2) {
  //   width: 100px;
  // }

  // td:nth-child(3) {
  //   width: 50px;
  // }

  // th:first-child {
  //   padding-left: 20px;
  // }

  // th:nth-child(2) {
  //   width: 170px;
  // }

  // th:nth-child(3) {
  //   width: 80px;
  // }

  // tr {
  //   height: 50px;
  // }

  .edit-button, 
  .delete-button {
    color: white;
    position: relative;
    left: 5px;
    top: 10px;
    cursor: pointer;
  }

  .delete-button {
    left: 15px;
  }

  .edit-button:hover, 
  .delete-button:hover {
    color: #282c34
  }

  .transactions {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    max-height: 40%;
    margin-top: 40px;
    justify-content: space-around;
    color: rgba(97, 219, 251, 0.4);
  }

  .icon {
    font-size: 40px !important;
    color: rgba(97, 219, 251, 0.8) !important;
    margin-bottom: 5px;
  }

  .trans {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 10%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .text {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px !important;
    line-height: 1.3;
    letter-spacing: 1px;
  }

  .blur {
    filter: blur(4px);
  }

  //user page

  .third-page {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    padding: 3%;
  }

  .dashboard {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 30px;
    border-bottom: 1px solid #61dbfb;
    padding-bottom: 15px;
    align-items: center;
  }

  .fa-arrow-right-from-bracket {
    cursor: pointer;
  }

  .top-bar {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .greeting {
    font-size: 50px;
    color: rgb(255, 255, 255);
  }

  .greeting > span {
    font-weight: 700;
    color: #61dbfb;
  }

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #61dbfb;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    color: #282c34
  }
  .card-container {
    background-color: rgb(97, 219, 251);
    height: 45%;
    width: 100%;
    max-width: 85%;
    margin: 40px auto;
    border-radius: 30px;
    padding: 10px 10px 0 10px;
  }

  .second-icon {
    display: block;
    /* -webkit-filter: saturate(1);
          filter: contrast(1);
          filter: brightness(1);
          filter: grayscale();
          filter: hue-rotate(200deg); */
    /* filter: invert(0.3); */
    padding-right: 3px;
    font-size: 35px;
  }

  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    padding: 30px;
  }

  .card-logo {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .logo-name {
    color: #282c34;
    font-size: 35px;
    font-weight: 700;
  }

  .logo-name > span {
    background-color: #282c34;
    color: #61dbfb;
    border-radius: 0 10px 10px 0;
    margin: 3px;
    padding: 0 5px 0 5px;
    font-weight: 400;
  }

  .card-name,
  .card-number {
    font-weight: 600;
    color: #282c34;
    margin-top: 3px;
  }

  .card-name {
    font-size: 28px;
    font-weight: 700;
  }

  .card-number {
    font-size: 20px;
  }

  .chip {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #282c34;
    width: 100%;
    max-width: 28%;
    height: 100%;
    max-height: 60%;
    border-radius: 10px;
    margin-top: 20px;
  }

  .chip-cell-1 {
    border-bottom: 1px solid #61dbfb;
  }

  .chip-cell-2 {
    /* border-right: 1px solid #61dbfb;
          border-left: 1px solid #61dbfb; */
    border-bottom: 1px solid #61dbfb;
  }

  .chip-cell-3 {
    border-bottom: 1px solid #61dbfb;
  }

  /* .chip-cell-4 {
          border-top: 1px solid #61dbfb;
        }
      
        .chip-cell-5 {
          border-top: 1px solid #61dbfb;
          transform: rotate(30deg);
          transform-origin: top left;
        } */

  /* .chip-cell-6 {
          border-top: 1px solid #61dbfb;
          transform: rotate(145deg);
          transform-origin: top left;
        } */

  .chip-cell-7 {
    border-top: 1px solid #61dbfb;
    /* border-right: 1px solid #61dbfb; */
  }

  .chip-cell-8 {
    border-top: 1px solid #61dbfb;
  }

  .chip-cell-9 {
    border-top: 1px solid #61dbfb;
    /* border-left: 1px solid #61dbfb; */
  }

  .chip::after {
    content: '';
    width: 30px;
    border: 1px solid #61dbfb;
    position: absolute;
    height: 40px;
    top: 43.5%;
    left: 23%;
    background-color: #282c34;
    border-radius: 5px;
  }

  .card-design {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 12px;
  }

  .wifi {
    transform: rotate(90deg);
    margin: 20px 0 30px 10px;
    font-size: 43px;
  }

  .hide {
    display: none !important;
  }

  .show {
    display: flex !important;
  }

  .bottom-nav {
    display: flex;
    position: absolute;
    bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    background-color: rgba(97, 219, 251, 0.3);
    left: 0;
    width: 100%;
    padding: 15px 30px;
    color: white;
    height: 70px;
    align-items: center;
    font-size: 20px;
  }

  .balance {
    font-weight: 600;
  }

  .transaction {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    max-height: 40%;
    margin-top: 40px;
    justify-content: space-around;
    color: #61dbfb;
  }

  .icon {
    font-size: 0px;
    margin-bottom: 5px;
    color: rgb(97, 219, 251);
    cursor: pointer;
  }

  .trans {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 90%;
    justify-content: center;
    align-items: center;
  }

  .text {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 1.3;
    letter-spacing: 1px;
    cursor: pointer;
  }

  // user page 

  @media all and (max-width: 480px) {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    .third-page {
      display: flex;
      height: 100vh;
      width: 350px;
      flex-direction: column;
      overflow: hidden;
      padding-top: 50px;
    }
  
    .dashboard {
      color: white;
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: 600;
      font-size: 20px;
      border-bottom: 1px solid #61dbfb;
      padding-bottom: 15px;
      align-items: center;
    }
  
    .fa-arrow-right-from-bracket {
      cursor: pointer;
    }
  
    .top-bar {
      height: 5%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
    }
  
    .greeting {
      font-size: 25px;
      color: rgb(255, 255, 255);
    }
  
    .greeting > span {
      font-weight: 700;
      color: #61dbfb;
    }
  
    .avatar {
      background-image: url('https://ca.slack-edge.com/T010DU0GZE0-U02TZTA9WKA-f995f60684ef-512');
      background-repeat: no-repeat;
      background-size: cover;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      padding-right: 10px;
    }
  
    .card-container {
      background-color: rgb(97, 219, 251);
      height: 30%;
      width: 100%;
      margin: 40px auto;
      border-radius: 30px;
      padding: 10px 10px 0 10px;
    }
  
    .second-icon {
      display: block;
      padding-right: 3px;
      font-size: 25px;
    }
  
    .card {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      padding: 30px;
    }
  
    .card-logo {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
    }
  
    .logo-name {
      color: #282c34;
      font-size: 25px;
      font-weight: 700;
    }
  
    .logo-name > span {
      background-color: #282c34;
      color: #61dbfb;
      border-radius: 0 10px 10px 0;
      margin: 3px;
      padding: 2px 5px;
      font-weight: 400;
    }
  
    .card-name,
    .card-number {
      font-weight: 600;
      color: #282c34;
      margin-top: 3px;
    }
  
    .card-name {
      font-size: 20px;
      font-weight: 700;
    }
  
    .card-number {
      font-size: 15px;
    }
  
    .chip {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      background-color: #282c34;
      width: 100%;
      max-width: 25%;
      height: 100%;
      max-height: 80%;
      border-radius: 10px;
    }
  
    .chip-cell-1 {
      border-bottom: 1px solid #61dbfb;
    }
  
    .chip-cell-2 {
      /* border-right: 1px solid #61dbfb;
      border-left: 1px solid #61dbfb; */
      border-bottom: 1px solid #61dbfb;
    }
  
    .chip-cell-3 {
      border-bottom: 1px solid #61dbfb;
    }
  
    /* .chip-cell-4 {
      border-top: 1px solid #61dbfb;
    }
  
    .chip-cell-5 {
      border-top: 1px solid #61dbfb;
      transform: rotate(30deg);
      transform-origin: top left;
    } */
  
    /* .chip-cell-6 {
      border-top: 1px solid #61dbfb;
      transform: rotate(145deg);
      transform-origin: top left;
    } */
  
    .chip-cell-7 {
      border-top: 1px solid #61dbfb;
      /* border-right: 1px solid #61dbfb; */
    }
  
    .chip-cell-8 {
      border-top: 1px solid #61dbfb;
    }
  
    .chip-cell-9 {
      border-top: 1px solid #61dbfb;
      /* border-left: 1px solid #61dbfb; */
    }
  
    .chip::after {
      content: '';
      width: 15px;
      border: 1px solid #61dbfb;
      position: absolute;
      height: 25px;
      top: 33.8%;
      left: 24%;
      background-color: #282c34;
      border-radius: 5px;
    }
  
    .card-design {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      margin-top: 12px;
    }
  
    .wifi {
      transform: rotate(90deg);
      margin: 0;
      font-size: 23px;
      margin: 0 0 10px 5px;
    }
  
    .hide {
      display: none !important;
    }
  
    .show {
      display: flex !important;
    }
  
    .bottom-nav {
      display: flex;
      position: absolute;
      bottom: 0;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 20px;
      background-color: rgba(97, 219, 251, 0.3);
      left: 0;
      width: 100%;
      padding: 15px 30px;
      color: white;
      height: 60px;
      align-items: center;
      font-size: 16px;
    }
  
    .balance {
      font-weight: 600;
    }
  
    .transaction {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      max-height: 40%;
      margin-top: 40px;
      color: #61dbfb;
    }
  
    .icon {
      font-size: 30px;
      margin-bottom: 5px;
      color: rgb(97, 219, 251);
      cursor: pointer;
    }
  
    .trans {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
    }
  
    .text {
      text-align: center;
      color: rgb(255, 255, 255);
      font-size: 15px;
      line-height: 1.3;
      letter-spacing: 1px;
      cursor: pointer;
    }

  }
  


}
