* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-image: linear-gradient(to top left, #0a5b6f, #2f8ea5, #5fbfd7, #75d5ec);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  letter-spacing: 1px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  user-select: none;
}

::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #282c34;
  border-radius: 10px;
  height: 2px;
}

.bank-logo.mobile {
  display: none;
}

.desktop-login header {
  background-color: #282c34;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.desktop-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80%;
  height: 100%;
  color: white;
  margin: 0 auto;
}

.desktop-navbar ul {
  list-style-type: none;
  display: flex;
}

.desktop-navbar ul li {
  margin-left: 50px;
}

.desktop-navbar ul li:hover {
  color: #61dbfb;
  transition: all 0.5s;
  cursor: pointer;
}

.fa-bars {
  display: none;
}

.bank-logo {
  color: #61dbfb;
  display: flex;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 700;
}

.bank-name span {
  color: #282c34;
  background-color: #61dbfb;
  border-radius: 0 10px 10px 0;
  padding: 0 5px;
  margin-left: 2px;
}

.register {
  background-color: #61dbfb;
  color: #282c34;
  padding: 7px 10px;
  border-radius: 5px;
  font-weight: 600;
}

.register:hover {
  background-color: white;
  cursor: pointer;
}

.main-page {
  width: 100%;
  max-width: 80%;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slogan {
  margin-top: 40px;
  color: #282c34;
  font-size: 85px;
  font-weight: 700;
}

.differently {
  color: white;
  font-style: italic;
  letter-spacing: 2px;
  text-shadow: 2px 2px #282c34;
}

.slogan-text {
  font-size: 25px;
  margin-top: 20px;
  color: #282c34;
  font-weight: 600;
  line-height: 1.4;
}

.react-text {
  font-weight: 700;
}

.desktop-options {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 70%;
  margin: 30px 0;
}

.get-started,
.download-app {
  background-color: #282c34;
  color: white;
  padding: 20px 30px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid #282c34;
}

.download-app {
  background-color: white;
  color: #282c34;
  border: 2px solid white;
  margin-left: 20px;
}

.get-started:hover {
  cursor: pointer;
  background-color: white;
  color: #282c34;
  border: 2px solid white;
}

.download-app:hover {
  cursor: pointer;
  border: 2px solid #282c34;
}

.bank-img {
  width: 300px;
  filter: hue-rotate(-40deg);
  filter: saturate(0.3);
  margin: 20px 0 0 20px;
}

.user-page {
  width: 100%;
  max-width: 40%;
  background-image: linear-gradient(to top left, #0a5b6f, #2f8ea5, #5fbfd7, #75d5ec);
  height: 450px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 5px 5px 5px black;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login input {
  outline: none;
  border: none;
  background-color: white;
  border-radius: 10px;
  height: 50px;
  color: #282c34;
  margin: 5px;
  width: 300px;
  padding-left: 10px;
  font-size: 15px;
}

.login input::placeholder {
  color: #282c34;
}

.login input:focus::placeholder {
  color: transparent;
}

.login-button {
  border: none;
  width: 120px;
  background: none;
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #282c34;
  color: white;
  font-weight: 500;
}

.login-button:hover {
  cursor: pointer;
  background-color: white;
  color: #282c34;
}

.login-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: white;
}

.create-account:hover,
.forgot-password:hover {
  color: #282c34;
  cursor: pointer;
}

.login-footer {
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  border: 1px solid white;
  font-size: 12px;
}

.create-account {
  margin-top: 5px;
}

.login-footer:hover {
  cursor: pointer;
  background-color: white;
  color: #282c34;
}

.second-section {
  height: 20vh;
  width: 100%;
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  padding: 0 200px;
  position: absolute;
  bottom: 0;
}

.logo {
  display: flex;
  width: 100%;
  max-width: 30%;
  justify-content: space-between;
}

.follow {
  font-size: 15px;
  text-transform: uppercase;
  width: 100px;
}

.social {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.about {
  font-size: 12px;
  width: 350px;
}

.about-us {
  display: flex;
  justify-content: space-between;
}

.about-title {
  font-weight: 600;
  font-size: 14px;
}

.about-us ul {
  list-style-type: none;
  margin-top: 10px;
}

.about-us ul li {
  margin-bottom: 5px;
}

.about-us ul li:hover,
.social:hover {
  color: white;
  cursor: pointer;
}

.error-message {
  color: #981a1a;
  font-size: 12px;
  letter-spacing: 0px;
}

.admin-dashboard {
  background-color: #282c34;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  color: white;
  align-items: center;
  display: flex;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

.nav-bar ul {
  list-style-type: none;
  display: flex;
}

.nav-bar ul li {
  margin-right: 50px;
}

.nav-bar ul li:hover {
  color: #61dbfb;
  cursor: pointer;
  transition: all 0.5s;
}

.search-bar {
  width: 100%;
  max-width: 80%;
  margin: 100px auto 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
}

.search {
  width: 600px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #282c34;
  color: white;
  padding-left: 10px;
  font-size: 16px;
}

.search::placeholder {
  color: white;
  font-size: 16px;
}

.search:focus::placeholder {
  color: transparent;
}

.table-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  max-width: 90%;
  margin: 0 auto;
}

.table-container {
  height: 350px;
  overflow-y: scroll;
  margin: 50px 0 0 0;
}

table {
  height: 100px;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

td,
tr,
th {
  background-color: white;
  width: 800px;
  height: 50px;
  text-align: center;
  font-weight: 500;
}

th {
  background-color: #282c34;
  color: white;
}

td a {
  text-decoration: none;
  color: #282c34;
}

.edit-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.edit-button {
  padding-right: 10px;
}

.edit-button:hover,
.delete-button:hover {
  color: #278da7;
  cursor: pointer;
}

.image {
  display: none;
  width: 500px;
  filter: saturate(0.5);
}

.manage-account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 90%;
  margin-top: 50px;
}

.deposit-page,
.withdraw-page,
.transfer-page {
  display: none;
}

.transactions {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 40%;
  margin: 0 auto;
}

.trans {
  background-color: #282c34;
  padding: 20px 25px;
  border-radius: 10px;
  font-size: 14px;
  color: white;
  margin: 0 10px;
}

.trans:hover {
  background-color: white;
  color: #282c34;
  cursor: pointer;
  transition: all 0.5s;
}

.trans .icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.show-deposit,
.show-withdraw,
.show-transfer {
  display: flex;
}

.deposit-page,
.withdraw-page,
.transfer-page {
  position: absolute;
  background-image: linear-gradient(to top left, #0a5b6f, #2f8ea5, #5fbfd7, #75d5ec);
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.deposit-container,
.withdraw-container,
.transfer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 60%;
  height: 100%;
  max-height: 80%;
  margin: auto;
}

.send-receipt {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  margin-top: 10px;
}

.deposit-input,
.withdraw-input,
.transfer-input {
  display: flex;
  flex-direction: column;
}

.deposit-input input,
.withdraw-input input,
.transfer-input input {
  background-color: white;
  outline: none;
  border: none;
  height: 50px;
  margin: 10px 0;
  color: #282c34;
  padding-left: 10px;
  border-radius: 10px;
}

.deposit-input input::placeholder,
.withdraw-input input::placeholder,
.transfer-input input::placeholder {
  color: #282c34;
}

.deposit-button,
.withdraw-button,
.transfer-button {
  background-color: #282c34;
  color: white;
  border: none;
  height: 50px;
  width: 100%;
  max-width: 40%;
  margin: 10px auto 0 auto;
  border-radius: 10px;
}

.deposit-button:hover,
.withdraw-button:hover,
.transfer-button:hover {
  background-color: white;
  color: #282c34;
  cursor: pointer;
}

.close-button {
  display: flex;
  justify-content: flex-end;
  color: #282c34;
  margin-bottom: 10px;
}

.add-account-container {
  display: flex;
  width: 100%;
  max-width: 40%;
  margin: 0 auto;
  background-color: #282c34;
  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
}

.add-account-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 4px;
  border-radius: 10px;
}

.add-account-inputs input {
  outline: none;
  border: none;
  height: 40px;
  font-size: 16px;
  padding-left: 10px;
  width: 100%;
  margin: 5px auto;
  color: #282c34;
  border-radius: 10px;
}

.add-account-button {
  border: none;
  background: none;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.add-account-inputs:last-child {
  width: 100%;
  max-width: 14%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  margin: auto 5px;
}

.add-account-inputs:last-child:hover {
  background-color: #61dbfb;
  cursor: pointer;
  transition: all 0.3s;
}

.add-account-inputs input::placeholder {
  color: grey;
  font-size: 14px;
}

.add-account-inputs input:focus::placeholder {
  color: transparent;
}

.add-account-inputs input::-webkit-outer-spin-button,
.add-account-inputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error {
  margin: 0 5px;
  color: #ff3c3c;
  font-size: 14px;
}

.inputs {
  display: flex;
  width: 100%;
}

.logout-mobile {
  display: none;
}

.third-page {
  display: flex;
  flex-direction: column;
}

.third-page header {
  background-color: #282c34;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  align-items: center;
  display: flex;
}

.user-nav {
  display: flex;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.user-logout:hover {
  cursor: pointer;
  color: #61dbfb;
  transition: all 0.4s;
}

.fa-arrow-right-from-bracket {
  cursor: pointer;
}

.welcome {
  display: flex;
  width: 100%;
  max-width: 80%;
  margin: 80px auto 20px auto;
  font-size: 30px;
  justify-content: space-between;
  font-weight: 500;
}

.greeting span {
  font-weight: 700;
}

.avatar {
  width: 60px;
  display: flex;
  align-items: center;
}

.fa-user-tie {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 80%;
  margin: 30px auto;
  display: flex;
}

.left-container,
.right-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50%;
  height: 100%;
  max-height: 80%;
}

.card {
  background-image: linear-gradient(to top left, #0a5b6f, #308ea5, #56b9d2, #4ec2df);
  border-radius: 20px;
  width: 100%;
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: white;
  font-size: 20px;
  box-shadow: 3px 3px 3px #282c34;
  padding: 10px 0;
}

.top-card,
.card-balance,
.bottom-card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 80%;
  margin: 20px auto;
  align-items: center;
}

.bottom-right-card {
  display: flex;
  align-items: center;
  text-align: center;
}

.balance-name {
  font-size: 30px;
  font-weight: 600;
  text-shadow: 1px 1px 1px black;
}

.card-balance {
  font-size: 50px;
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.card-name,
.card-number {
  font-size: 20px;
  font-weight: 600;
  text-shadow: 1px 1px 1px black;
}

.valid-thru {
  font-size: 9px;
  margin-right: 5px;
  text-shadow: 1px 1px 1px black;
}

.valid-date {
  font-size: 18px;
  font-weight: 600;
  text-shadow: 1px 1px 1px black;
}

.mastercard {
  width: 50px;
}

.manage-expenses {
  display: none;
}

.transaction-history {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 90%;
  margin: 50px 0;
}

.history-title,
.expenses-title,
.user-transaction-title {
  background-color: #282c34;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
}

.transaction-list {
  height: 120px;
  overflow-y: scroll;
}

.transaction-list ul {
  list-style-type: none;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 1px #282c34;
}

.transaction-list ul li {
  border-bottom: 1px solid #282c34;
  box-shadow: 2px 2px 2px #282c34;
  font-size: 20px;
  margin: 20px 0;
  padding: 0 0 10px 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-footer {
  background-color: #282c34;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 100%;
  max-height: 8%;
  display: flex;
  align-items: center;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  color: white;
  font-size: 18px;
}

.expenses {
  display: flex;
  flex-direction: column;
}

.expenses-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 90%;
  margin: 20px auto;
  color: white;
  text-shadow: 1px 1px 1px #282c34;
  text-transform: capitalize;
  height: 200px;
  overflow-y: scroll;
}

.expenses-list ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.expenses-list ul li {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.expense-name {
  font-size: 20px;
  font-weight: 500;
}

.small {
  font-size: 16px;
}

.cost {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.expenses li > .pay-button {
  background-color: white;
  color: #282c34;
  text-shadow: none;
  width: 80px;
  height: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.edit-expense {
  margin: 0 10px 0 30px;
}

.delete-expense {
  margin-right: 15px;
}

.edit-expense,
.delete-expense {
  font-size: 16px;
}

.edit-expense:hover,
.delete-expense:hover {
  cursor: pointer;
  color: white;
}

.add-expense-list,
.input-cost {
  outline: none;
  border: none;
  height: 35px;
  padding-left: 10px;
  width: 160px;
  border-radius: 5px;
  background-color: #282c34;
  color: white;
  font-size: 14px;
}

.add-expense-list::placeholder,
.input-cost::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

.add-expense-list:focus::placeholder,
.input-cost:focus::placeholder {
  color: transparent;
}

.add-icon {
  color: #282c34;
  text-shadow: none;
  margin-right: 15px;
}

.add-icon:hover {
  color: white;
  cursor: pointer;
}

.input-cost {
  margin-left: 60px;
  width: 80px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-ul {
  margin-top: 10px;
}

.add-ul li {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hide {
  display: none;
}

.show {
  display: flex !important;
}

.border-radius {
  border-radius: 0 5px 5px 0;
}

.user-transaction {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 300px;
}

.transactions {
  margin-top: 30px;
}

.transactions.mobile {
  width: 100%;
}

.trans.mobile {
  margin-right: 20px;
}

.user-logout {
  display: none;
}

.transaction-code {
  font-size: 12px;
  padding-right: 20px;
}

.deposit-page,
.withdraw-page,
.transfer-page {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.deposit-container,
.withdraw-container,
.transfer-container {
  justify-content: center;
}

@media all and (max-width: 1024px) {
  .desktop-login {
    width: 100%;
  }

  .main-page {
    max-width: 85%;
  }

  .desktop-navbar ul li {
    margin-left: 40px;
    font-size: 14px;
  }

  .fa-bars {
    display: none;
  }

  .bank-logo {
    font-size: 20px;
  }

  .slogan {
    margin-top: 0px;
    font-size: 60px;
  }

  .slogan-text {
    font-size: 15px;
    margin-top: 20px;
  }

  .desktop-options {
    width: 100%;
    max-width: 70%;
    margin-top: 20px;
  }

  .get-started,
.download-app {
    padding: 15px 25px;
    font-size: 12px;
  }

  .user-page {
    max-width: 40%;
    height: 360px;
    margin-top: 20px;
  }

  .login input {
    height: 40px;
    width: 200px;
    font-size: 13px;
  }

  .login-button {
    width: 90px;
    font-size: 13px;
  }

  .login-options {
    font-size: 12px;
  }

  .login-footer {
    font-size: 10px;
  }

  .create-account {
    margin-top: 5px;
  }

  .second-section {
    font-size: 20px;
    padding: 0 100px;
  }

  .follow {
    font-size: 10px;
    text-transform: uppercase;
  }

  .social {
    font-size: 20px;
  }

  .about {
    font-size: 10px;
    width: 300px;
  }

  .error-message {
    color: #981a1a;
    font-size: 10px;
  }
}
@media all and (max-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
  }

  .nav-bar ul li {
    margin-right: 50px;
  }

  .search-bar {
    font-size: 30px;
    align-items: center;
    margin: 85px auto 0 auto;
  }

  .search {
    width: 500px;
    height: 40px;
    font-size: 14px;
  }

  image {
    display: none;
  }

  .table-box {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 90%;
  }

  table {
    height: 100px;
  }

  td,
tr,
th {
    font-weight: 500;
    font-size: 14px;
    padding: 0 10px;
  }

  th {
    background-color: #282c34;
    color: white;
    font-size: 15px;
  }

  .edit-delete {
    font-size: 14px;
  }

  .manage-account {
    width: 100%;
    max-width: 80%;
    margin: 40px auto;
    align-items: center;
    margin-bottom: 5px;
  }

  .transactions {
    width: 100%;
    max-width: 30%;
    margin: 0;
  }

  .trans {
    padding: 20px 25px;
    font-size: 14px;
    margin: 0 5px;
  }

  .deposit-page,
.withdraw-page,
.transfer-page {
    position: absolute;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .deposit-container,
.withdraw-container,
.transfer-container {
    justify-content: center;
  }

  .add-account-container {
    max-width: 50%;
    margin: 0;
    padding: 10px;
  }

  .add-account-inputs input {
    font-size: 14px;
  }

  .add-account-button {
    font-size: 10px;
  }

  .error {
    font-size: 10px;
  }

  .logout-mobile {
    display: none;
  }
}
.logout-mobile {
  display: none;
}

.hide-transaction {
  display: none;
}

@media all and (max-width: 1024px) {
  .third-page {
    margin-top: 60px;
  }

  .welcome {
    margin: 20px auto 0 auto;
  }

  .container {
    margin: 20px auto;
  }

  .left-container,
.right-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50%;
  }

  .card {
    height: 200px;
    max-width: 85%;
  }

  .top-card {
    margin: 10px auto;
    height: 30px;
  }

  .bottom-card {
    margin: 10px auto;
  }

  .balance-name {
    font-size: 20px;
    margin: 10px 0;
  }

  .card-balance {
    font-size: 40px;
    margin: 10px auto;
  }

  .card-name,
.card-number {
    font-size: 16px;
  }

  .valid-thru {
    font-size: 7px;
  }

  .valid-date {
    font-size: 14px;
  }

  .mastercard {
    width: 40px;
  }

  .manage-expenses {
    display: none;
  }

  .transaction-history {
    max-width: 90%;
    margin: 40px 0;
  }

  .history-title,
.expenses-title,
.user-transaction-title {
    font-size: 16px;
  }

  .bottom-nav {
    font-size: 16px;
  }

  .expenses-list ul li {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }

  .expense-name {
    font-size: 16px;
  }

  .cost {
    width: 70px;
    height: 25px;
    font-size: 14px;
  }

  .expenses li > .pay-button {
    width: 70px;
    height: 25px;
    font-size: 14px;
  }

  .edit-expense,
.delete-expense {
    font-size: 14px;
  }

  .add-expense-list,
.input-cost {
    outline: none;
    border: none;
    height: 35px;
    padding-left: 10px;
    width: 160px;
    border-radius: 5px;
    background-color: #282c34;
    color: white;
    font-size: 14px;
  }

  .input-cost {
    margin-left: 20px;
    width: 70px;
  }

  .transactions {
    width: 100%;
    margin: 20px auto;
  }

  .trans {
    padding: 20px 25px;
    font-size: 14px;
    margin: 0 5px;
  }

  .deposit-page,
.withdraw-page,
.transfer-page {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
  }

  .deposit-container,
.withdraw-container,
.transfer-container {
    justify-content: center;
  }

  .user-logout {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .bank-logo.mobile {
    display: none;
  }

  .desktop-navbar ul {
    display: none;
  }

  .fa-bars {
    display: flex;
    font-size: 20px;
    color: #61dbfb;
  }

  .bank-logo {
    font-size: 22px;
  }

  .main-page {
    flex-direction: column;
    text-align: center;
  }

  .slogan {
    margin-top: 10px;
    font-size: 75px;
  }

  .slogan-text {
    font-size: 20px;
    margin-top: 20px;
  }

  .desktop-options {
    max-width: 60%;
    margin: 40px auto 0 auto;
  }

  .get-started,
.download-app {
    padding: 15px;
    font-size: 15px;
  }

  .user-page {
    max-width: 80%;
    margin-top: 60px;
    height: 420px;
  }

  .login input::placeholder {
    color: #282c34;
  }

  .login input:focus::placeholder {
    color: transparent;
  }

  .login-options {
    font-size: 12px;
  }

  .login-footer {
    font-size: 12px;
  }

  .second-section {
    padding: 0 130px;
    position: relative;
  }

  .logo {
    display: none;
  }

  .follow {
    font-size: 10px;
  }

  .social {
    font-size: 20px;
  }
}
@media all and (max-width: 768px) {
  .admin-page {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .nav-bar ul {
    list-style-type: none;
    display: flex;
  }

  .nav-bar ul li {
    margin-right: 20px;
    font-size: 14px;
  }

  .search-bar {
    margin: 80px auto 0 auto;
    flex-direction: column;
    font-size: 30px;
    align-items: flex-start;
  }

  .search {
    width: 100%;
    height: 40px;
    font-size: 16px;
    margin-top: 20px;
    background-color: white;
    color: #282c34;
    box-shadow: 1px 1px 1px #282c34;
  }

  .search::placeholder {
    color: #282c34;
    font-size: 14px;
  }

  .image {
    display: none;
  }

  .table-container {
    margin: 30px auto 20px auto;
  }

  .table {
    width: 100%;
    max-width: 100%;
  }

  td,
tr,
th {
    font-size: 14px;
  }

  th {
    background-color: #282c34;
    color: white;
  }

  .manage-account {
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .deposit-page,
.withdraw-page,
.transfer-page {
    display: none;
  }

  .transactions {
    max-width: 60%;
    margin-bottom: 50px;
  }

  .trans {
    padding: 15px 20px;
    font-size: 12px;
  }

  .trans .icon {
    font-size: 25px;
  }

  .show-deposit,
.show-withdraw,
.show-transfer {
    display: flex;
  }

  .deposit-container,
.withdraw-container,
.transfer-container {
    justify-content: center;
  }

  .add-account-container {
    max-width: 80%;
    margin: 50px auto;
    padding: 10px;
  }

  .add-account-inputs input {
    font-size: 14px;
  }

  .add-account-button {
    font-size: 12px;
  }

  .error {
    font-size: 12px;
  }

  .logout-mobile {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .third-page {
    margin-top: 0;
  }

  .welcome {
    margin: 80px auto 0 auto;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .left-container,
.right-container {
    width: 100%;
    max-width: 100%;
  }

  .card {
    height: 250px;
    max-width: 70%;
    margin: 20px auto;
  }

  .balance-name {
    font-size: 20px;
  }

  .card-balance {
    font-size: 40px;
  }

  .card-name,
.card-number {
    font-size: 16px;
  }

  .valid-thru {
    font-size: 7px;
  }

  .valid-date {
    font-size: 16px;
  }

  .mastercard {
    width: 40px;
  }

  .transaction-history {
    max-width: 100%;
    margin-top: 40px;
  }

  .history-title,
.expenses-title,
.user-transaction-title {
    font-size: 16px;
  }

  .transaction-list ul {
    list-style-type: none;
    width: 100%;
  }

  .transaction-list ul li {
    border-bottom: 1px solid #282c34;
    box-shadow: 2px 2px 2px #282c34;
    font-size: 20px;
    margin: 20px 0;
    padding: 0 0 10px 20px;
    font-weight: 500;
  }

  .user-footer {
    width: 100%;
    bottom: 0;
    height: 100%;
    max-height: 8%;
    display: flex;
    align-items: center;
  }

  .bottom-nav {
    font-size: 16px;
  }

  .expenses-list ul li {
    margin: 3px 0;
  }

  .expense-name {
    font-size: 16px;
  }

  .cost {
    width: 70px;
    height: 30px;
    font-size: 14px;
  }

  .expenses li > .pay-button {
    width: 70px;
    height: 30px;
    font-size: 14px;
  }

  .edit-expense {
    margin: 0 5px 0 15px;
  }

  .edit-expense,
.delete-expense {
    font-size: 14px;
  }

  .add-expense-list,
.input-cost {
    font-size: 14px;
  }

  .add-expense-list::placeholder,
.input-cost::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
  }

  .add-expense-list:focus::placeholder,
.input-cost:focus::placeholder {
    color: transparent;
  }

  .add-icon {
    color: #282c34;
  }

  .add-icon:hover {
    color: white;
    cursor: pointer;
  }

  .input-cost {
    margin-left: 240px;
    width: 70px;
  }

  .user-transaction {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .transactions.mobile {
    width: 100%;
    margin: 40px 0;
  }

  .trans.mobile {
    margin-right: 10px;
    margin-top: 0;
    margin: 0 10px 50px 10px;
  }

  .user-logout {
    display: none;
  }
}
@media all and (max-width: 480px) {
  .bank-logo {
    display: flex;
  }

  .desktop-login header,
.slogan,
.slogan-text,
.desktop-options {
    display: none;
  }

  .bank-logo.mobile {
    display: flex;
    margin: 30px auto;
    font-size: 40px;
    color: #282c34;
  }

  .bank-logo.mobile span {
    background-color: #282c34;
    color: #61dbfb;
  }

  .main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .user-page {
    background: none;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
  }

  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login-button {
    margin-top: 20px;
    color: white;
    background-color: #282c34;
  }

  .login-options {
    font-size: 12px;
  }

  .login-footer {
    font-size: 12px;
  }

  .second-section {
    display: none;
  }

  .error-message {
    color: red;
  }
}
@media all and (max-width: 480px) {
  .admin-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .admin-dashboard {
    display: none;
  }

  .search-bar {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    max-width: 90%;
    margin-top: 40px;
  }

  .accounts-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 97%;
    margin: 0 5px;
    font-size: 22px;
  }

  .logout-mobile {
    display: flex;
  }

  .search {
    width: 100%;
    height: 40px;
    font-size: 16px;
    margin-top: 20px;
    background-color: white;
    color: #282c34;
    box-shadow: 1px 1px 1px #282c34;
  }

  .search::placeholder {
    color: #282c34;
    font-size: 14px;
  }

  .table-box {
    display: flex;
    margin: 0 auto 20px auto;
  }

  table {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 100px;
  }

  .image {
    display: none;
  }

  .manage-account {
    display: flex;
    flex-direction: column-reverse;
  }

  th,
td,
th,
.edit-delete {
    font-weight: 500;
    font-size: 12px;
  }

  .transactions {
    width: 100%;
    max-width: 90%;
  }

  .trans {
    font-size: 10px;
    margin: 10px;
  }

  .trans .icon {
    font-size: 25px;
  }

  .deposit-page,
.withdraw-page,
.transfer-page {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
  }

  .deposit-container,
.withdraw-container,
.transfer-container {
    justify-content: center;
  }

  .add-account-container {
    margin: 20px auto;
    background-color: white;
    background-image: linear-gradient(to top left, #0a5b6f, #2f8ea5, #5fbfd7, #75d5ec);
    box-shadow: 2px 2px 2px #282c34;
    max-width: 90%;
  }

  .add-account-inputs input {
    height: 35px;
    font-size: 12px;
    box-shadow: 1px 1px 1px #282c34;
  }

  .add-account-inputs input::placeholder {
    font-size: 12px;
  }

  .add-account-button {
    font-size: 7px;
  }

  .add-account-inputs:last-child {
    height: 80px;
  }

  .error {
    margin: 0 2px;
    color: red;
    font-size: 10px;
  }
}
@media all and (max-width: 480px) {
  .third-page {
    margin-top: 10px;
    overflow: scroll;
  }

  .third-page header {
    display: none;
  }

  .user-nav {
    display: flex;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  .welcome {
    display: flex;
    width: 100%;
    max-width: 80%;
    margin: 20px auto 0 auto;
    font-size: 30px;
    justify-content: space-between;
    font-weight: 500;
  }

  .greeting span {
    font-weight: 700;
  }

  .fa-user-tie {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 15px;
  }

  .container {
    width: 100%;
    max-width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
  }

  .left-container,
.right-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }

  .card {
    height: 250px;
    max-width: 100%;
    display: flex;
  }

  .top-card,
.card-balance,
.bottom-card {
    margin: auto;
  }

  .balance-name {
    font-size: 20px;
  }

  .card-balance {
    font-size: 40px;
  }

  .card-name,
.card-number {
    font-size: 16px;
  }

  .valid-thru {
    font-size: 7px;
  }

  .valid-date {
    font-size: 16px;
  }

  .mastercard {
    width: 40px;
  }

  .transaction-history {
    max-width: 100%;
    margin-top: 40px;
  }

  .history-title,
.expenses-title,
.user-transaction-title {
    font-size: 16px;
  }

  .transaction-list ul {
    list-style-type: none;
    width: 100%;
  }

  .transaction-list ul li {
    border-bottom: 1px solid #282c34;
    box-shadow: 2px 2px 2px #282c34;
    font-size: 20px;
    margin: 20px 0;
    padding: 0 0 10px 20px;
    font-weight: 500;
  }

  .user-footer {
    background-color: #282c34;
    width: 100%;
    bottom: 0;
    height: 100%;
    max-height: 8%;
    display: flex;
    align-items: center;
  }

  .bottom-nav {
    font-size: 16px;
  }

  .expenses-list ul li {
    margin: 3px 0;
  }

  .expense-name {
    font-size: 16px;
  }

  .cost {
    width: 70px;
    height: 30px;
    font-size: 14px;
  }

  .expenses {
    margin: 50px 0;
  }

  .expenses li > .pay-button {
    width: 70px;
    height: 30px;
    font-size: 14px;
  }

  .edit-expense {
    margin: 0 5px 0 15px;
  }

  .edit-expense,
.delete-expense {
    font-size: 14px;
  }

  .add-expense-list,
.input-cost {
    font-size: 14px;
  }

  .add-expense-list::placeholder,
.input-cost::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
  }

  .add-expense-list:focus::placeholder,
.input-cost:focus::placeholder {
    color: transparent;
  }

  .add-icon {
    color: #282c34;
  }

  .add-icon:hover {
    color: white;
    cursor: pointer;
  }

  .input-cost {
    margin-left: 20px;
    width: 70px;
  }

  .user-transaction {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .transactions.mobile {
    width: 100%;
  }

  .trans.mobile {
    margin-right: 10px;
    margin-top: 0;
    margin: 0 10px 50px 10px;
  }

  .user-logout {
    display: flex;
    font-size: 22px;
    color: #282c34;
    align-items: center;
    height: 30px;
    margin-left: 10px;
  }

  .transaction-name {
    font-size: 16px;
  }
}

/*# sourceMappingURL=output.css.map */
