.color-white {
    color: white;
}

.color-blue {
    color: #61dbfb;
}

.color-black {
    color: #282c34;
}


.background-white {
    color: white;
}

.background-blue {
    color: #61dbfb;
}

.background-black {
    color: #282c34;
}